SIP/Schemas/7.1.0/Catalogs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML Catalogs (EDIDOC 832)  -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.1.0
	Date of Creation: February 26, 2004
    Date Updated to Version 7.0.0: November 2, 2006
    Date Updated for Integration with gFile: November 2, 2007
    Revision: April 5, 2011    
		1.) Added YesNoQuestion to LineItem
		2.) Added Packaging to LineItem
		3.) Added VendorLineCharacteristic to LineItem
		4.) Added MultiPackConfiguration to LineItem
		5.) Added BuyerPartNumber, VendorPartNumber and PartNumber/Qualifier 1-3 to the end of CatalogLineCharacteristics
		6.) Added Flex to Header, LineItem and KitSerialLot  
	Revision: September 24, 2012
		1.) Added InternationalStandardBookNumber to LineItem
		2.) Added ManufacturerPartNumber to LineItem
		3.) Added CarrierRoutingDetails to LineItem
		4.) Removed Flex groups

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- 
			inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level element -->
	<xs:element name="Catalog" type="CatalogType"/>
	<xs:element name="Catalogs">
		<xs:annotation>
			<xs:appinfo>Version 7.1.0</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Catalog" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AlternateTiersPerPallet" type="xs:string"/>
	<xs:element name="BrandName" type="xs:string"/>
	<xs:element name="CatalogDescription" type="xs:string"/>
	<xs:element name="CatalogHeader" type="CatalogHeaderType"/>
	<xs:element name="CatalogLine" type="CatalogLineType"/>
	<xs:element name="CatalogLineCharacteristics" type="CatalogLineCharacteristicsType"/>
	<xs:element name="CatalogVersionNumber" type="xs:string"/>
	<xs:element name="CatalogPurposeCode" type="xs:string"/>
	<xs:element name="CatalogRevisionNumber" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="ConditionIndicator1" type="xs:string"/>
	<xs:element name="CountryOfOrigin" type="xs:string"/>
	<xs:element name="Depth" type="xs:decimal"/>
	<xs:element name="DiscountMultiplier" type="xs:decimal"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventTypeInformation" type="xs:string"/>
	<xs:element name="FOBShipLocation" type="xs:string"/>
	<xs:element name="HazMatCode" type="xs:string"/>
	<xs:element name="HazMatDescription" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Height" type="xs:decimal"/>
	<xs:element name="HeightUOM" type="xs:string"/>
	<xs:element name="IndustryCode" type="xs:string"/>
	<xs:element name="IndustryCodeQualifier" type="xs:string"/>
	<xs:element name="KitSerialLot" type="KitSerialLotType"/>
	<xs:element name="LeadTimeIntervalCode" type="xs:string"/>
	<xs:element name="LeadTimeUOM" type="xs:string"/>
	<xs:element name="LeadTimeQual" type="xs:string"/>
	<xs:element name="Length" type="xs:decimal"/>
	<xs:element name="LengthUOM" type="xs:string"/>
	<xs:element name="LinearUOM" type="xs:string"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="ListCostNew" type="xs:decimal"/>
	<xs:element name="ListCostOld" type="xs:decimal"/>
	<xs:element name="LotExpirationDate" type="xs:date"/>
	<xs:element name="MaintenanceType" type="xs:string"/>
	<xs:element name="MarketAreaDesc" type="xs:string"/>
	<xs:element name="MaximumOrderQty" type="xs:decimal"/>
	<xs:element name="Measurements" type="MeasurementsType"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:string"/>
	<xs:element name="MinimumOrderQty" type="xs:decimal"/>
	<xs:element name="MultiPackConfiguration" type="MultiPackConfigurationType"/>
	<xs:element name="OrderLeadTimeQty" type="xs:decimal"/>
	<xs:element name="OrderQtyMultiple" type="xs:decimal"/>
	<xs:element name="OrderSizingFactor" type="xs:decimal"/>
	<xs:element name="Pack" type="xs:int"/>
	<xs:element name="Packaging" type="PackagingType"/>
	<xs:element name="PackagingCharacteristicCode" type="xs:string"/>
	<xs:element name="PackagingCode" type="xs:string"/>
	<xs:element name="PackagingDescription" type="xs:string"/>
	<xs:element name="PackagingDescriptionCode" type="xs:string"/>
	<xs:element name="PalletBlocks" type="xs:int"/>
	<xs:element name="PartDescription3" type="xs:string"/>
	<xs:element name="PartDescription4" type="xs:string"/>
	<xs:element name="PostalCodeBegin" type="xs:string"/>
	<xs:element name="PostalCodeEnd" type="xs:string"/>
	<xs:element name="PriceConditionAppliesCode" type="xs:string"/>
	<xs:element name="PriceListNumber" type="xs:string"/>
	<xs:element name="PriceListIssueNumber" type="xs:string"/>
	<xs:element name="PriceValidEndDate" type="xs:date"/>
	<xs:element name="PriceValidStartDate" type="xs:date"/>
	<xs:element name="Pricing" type="PricingType"/>
	<xs:element name="PricingBracketDesc" type="xs:string"/>
	<xs:element name="PricingBracketID" type="xs:string"/>
	<xs:element name="PricingComment" type="xs:string"/>
	<xs:element name="QtyPer" type="xs:decimal"/>
	<xs:element name="QtyPerUOM" type="xs:string"/>
	<xs:element name="QtyOnHand" type="xs:decimal"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="RegionNumber" type="xs:string"/>
	<xs:element name="ReorderFlag" type="xs:string"/>
	<xs:element name="SeasonalFlag" type="xs:string"/>
	<xs:element name="SerialLotEffectiveDate" type="xs:date"/>
	<xs:element name="SerialLotNumber" type="xs:string"/>
	<xs:element name="SerialLotNumberInformation" type="xs:string"/>
	<xs:element name="SerialWarrantyDate" type="xs:date"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="Size" type="xs:decimal"/>
	<xs:element name="StoreNumber" type="xs:string"/>
	<xs:element name="SuggestedRetailNew" type="xs:decimal"/>
	<xs:element name="SuggestedRetailOld" type="xs:decimal"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TextMessage1" type="xs:string"/>
	<xs:element name="TextMessage2" type="xs:string"/>
	<xs:element name="TextMessage3" type="xs:string"/>
	<xs:element name="TextMessage4" type="xs:string"/>
	<xs:element name="TicketType" type="xs:string"/>
	<xs:element name="TicketTypeInformation" type="xs:string"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalQuantity" type="xs:decimal"/>
	<xs:element name="UnitLoadOptionCode" type="xs:string"/>
	<xs:element name="UnitWeight" type="xs:decimal"/>
	<xs:element name="UnitWeight1" type="xs:decimal"/>
	<xs:element name="UnitWeight2" type="xs:decimal"/>
	<xs:element name="UOMCode" type="xs:string"/>
	<xs:element name="URLImageLocation" type="xs:string"/>
	<xs:element name="URLLongDescription" type="xs:string"/>
	<xs:element name="VendorLineCharacteristic" type="LineItemCharacteristicType"/>
	<xs:element name="WeightQualifier1" type="xs:string"/>
	<xs:element name="WeightQualifier2" type="xs:string"/>
	<xs:element name="WeightUnitCode1" type="xs:string"/>
	<xs:element name="WeightUnitCode2" type="xs:string"/>
	<xs:element name="WeightUOM" type="xs:string"/>
	<xs:element name="Width" type="xs:decimal"/>
	<xs:element name="WidthUOM" type="xs:string"/>
	<xs:element name="YesNoQuestion" type="YesNoQuestionType"/>
	<!-- Catalog elements  -->
	<xs:complexType name="CatalogType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements  -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="CatalogHeader"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- CatalogHeader elements -->
	<xs:complexType name="CatalogHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode" minOccurs="0"/>
					<xs:element ref="CatalogPurposeCode"/>
					<xs:element ref="CatalogVersionNumber" minOccurs="0"/>
					<xs:element ref="CatalogRevisionNumber" minOccurs="0"/>
					<xs:element ref="UOMCode" minOccurs="0"/>
					<xs:element ref="CatalogDescription" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="JobNumber" minOccurs="0"/>
					<xs:element ref="Division" minOccurs="0"/>
					<xs:group ref="FOB" minOccurs="0"/>
					<xs:element ref="BrandName" minOccurs="0"/>
					<xs:element ref="URLLongDescription" minOccurs="0"/>
					<xs:element ref="URLImageLocation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItems collection element -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="CatalogLine"/>
					<xs:element ref="ProductOrItemDescription" minOccurs="0" maxOccurs="200"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="40"/>
					<xs:element ref="CatalogLineCharacteristics" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="YesNoQuestion" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Packaging" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="Commodity" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="Pricing" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="VendorLineCharacteristic" minOccurs="0"/>
					<xs:element ref="MultiPackConfiguration" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="KitSerialLot" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="CarrierRoutingDetail" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- CatalogLine elements -->
	<xs:complexType name="CatalogLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:element ref="MaintenanceType" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:element ref="InternationalStandardBookNumber" minOccurs="0"/>
					<xs:element ref="ManufacturerPartNumber" minOccurs="0"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="NRFColorCode" minOccurs="0"/>
					<xs:element ref="NRFSizeCode" minOccurs="0"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ItemPack"/>
					<xs:element ref="LinearUOM" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Class" minOccurs="0"/>
					<xs:element ref="MinimumOrderQty" minOccurs="0"/>
					<xs:element ref="MaximumOrderQty" minOccurs="0"/>
					<xs:element ref="OrderQtyMultiple" minOccurs="0"/>
					<xs:element ref="QtyOnHand" minOccurs="0"/>
					<xs:element ref="SeasonalFlag" minOccurs="0"/>
					<xs:element ref="ReorderFlag" minOccurs="0"/>
					<xs:element ref="HazMatCode" minOccurs="0"/>
					<xs:element ref="HazMatDescription" minOccurs="0"/>
					<xs:element ref="LeadTimeCode" minOccurs="0"/>
					<xs:element ref="OrderLeadTimeQty" minOccurs="0"/>
					<xs:element ref="LeadTimeIntervalCode" minOccurs="0"/>
					<xs:element ref="FOBPayCode" minOccurs="0"/>
					<xs:element ref="FOBShipLocation" minOccurs="0"/>
					<xs:element ref="CountryOfOrigin" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Measurements element -->
	<xs:complexType name="MeasurementsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--CatalogLineCharacteristics elements -->
	<xs:complexType name="CatalogLineCharacteristicsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ConsumerPackageCode" minOccurs="0"/>
					<xs:element ref="GTIN" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
					<xs:element ref="UOMCode" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeUOM" minOccurs="0"/>
					<xs:element ref="Pack" minOccurs="0"/>
					<xs:element ref="InnerPack" minOccurs="0"/>
					<xs:element ref="Size" minOccurs="0"/>
					<xs:element ref="PackUOM"/>
					<xs:element ref="UnitWeight" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="BuyerPartNumber" minOccurs="0"/>
					<xs:element ref="VendorPartNumber" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier1" minOccurs="0"/>
					<xs:element ref="PartNumber1" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier2" minOccurs="0"/>
					<xs:element ref="PartNumber2" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier3" minOccurs="0"/>
					<xs:element ref="PartNumber3" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- YesNoQuestion elements -->
	<xs:complexType name="YesNoQuestionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ConditionIndicator1" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse"/>
					<xs:element ref="DateTimeFormQualifier1" minOccurs="0"/>
					<xs:element ref="DateTimePeriod" minOccurs="0"/>
					<xs:element ref="TextMessage1" minOccurs="0"/>
					<xs:element ref="TextMessage2" minOccurs="0"/>
					<xs:element ref="TextMessage3" minOccurs="0"/>
					<xs:element ref="TextMessage4" minOccurs="0"/>
					<xs:element ref="IndustryCodeQualifier"/>
					<xs:element ref="IndustryCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Packaging elements -->
	<xs:complexType name="PackagingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ItemDescriptionType" minOccurs="0"/>
					<xs:element ref="PackagingCharacteristicCode" minOccurs="0"/>
					<xs:element ref="AgencyQualifierCode" minOccurs="0"/>
					<xs:element ref="PackagingDescriptionCode" minOccurs="0"/>
					<xs:element ref="PackagingDescription" minOccurs="0"/>
					<xs:element ref="UnitLoadOptionCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Pricing elements -->
	<xs:complexType name="PricingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SequenceNumber" minOccurs="0"/>
					<xs:element ref="ClassOfTradeCode" minOccurs="0"/>
					<xs:element ref="PriceTypeIDCode" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="ItemQty" minOccurs="0"/>
					<xs:element ref="ItemQtyUOM" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="MonetaryAmount" minOccurs="0"/>
					<xs:element ref="DiscountMultiplier" minOccurs="0"/>
					<xs:element ref="PricingBracketID" minOccurs="0"/>
					<xs:element ref="PricingBracketDesc" minOccurs="0"/>
					<xs:element ref="ListCostNew" minOccurs="0"/>
					<xs:element ref="ListCostOld" minOccurs="0"/>
					<xs:element ref="SuggestedRetailNew" minOccurs="0"/>
					<xs:element ref="SuggestedRetailOld" minOccurs="0"/>
					<xs:element ref="PriceValidStartDate" minOccurs="0"/>
					<xs:element ref="PriceValidEndDate" minOccurs="0"/>
					<xs:element ref="LeadTimeQual" minOccurs="0"/>
					<xs:element ref="LeadTimeQuantity" minOccurs="0"/>
					<xs:element ref="LeadTimeUOM" minOccurs="0"/>
					<xs:element ref="MarketAreaDesc" minOccurs="0"/>
					<xs:element ref="StoreNumber" minOccurs="0"/>
					<xs:element ref="RegionNumber" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="PostalCode" minOccurs="0"/>
					<xs:element ref="PostalCodeBegin" minOccurs="0"/>
					<xs:element ref="PostalCodeEnd" minOccurs="0"/>
					<xs:element ref="PricingComment" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItemCharacteristic elements -->
	<xs:complexType name="LineItemCharacteristicType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="UnitWeight1"/>
						<xs:element ref="WeightQualifier1"/>
						<xs:element ref="WeightUnitCode1"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Height"/>
						<xs:element ref="HeightUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Width"/>
						<xs:element ref="WidthUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Length"/>
						<xs:element ref="LengthUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Volume"/>
						<xs:element ref="VolumeUOM"/>
					</xs:sequence>
					<xs:element ref="PalletBlocks" minOccurs="0"/>
					<xs:element ref="PackSize" minOccurs="0"/>
					<xs:element ref="OuterPack" minOccurs="0"/>
					<xs:element ref="PackUOM" minOccurs="0"/>
					<xs:element ref="ProductColorDescription" minOccurs="0"/>
					<xs:element ref="OrderSizingFactor" minOccurs="0"/>
					<xs:element ref="AlternateTiersPerPallet" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="UnitWeight2"/>
						<xs:element ref="WeightQualifier2"/>
						<xs:element ref="WeightUnitCode2"/>
					</xs:sequence>
					<xs:element ref="InnerPack" minOccurs="0"/>
					<xs:element ref="PackagingCode" minOccurs="0"/>
					<xs:element ref="PartDescription3" minOccurs="0"/>
					<xs:element ref="PartDescription4" minOccurs="0"/>
					<xs:element ref="PriceListNumber" minOccurs="0"/>
					<xs:element ref="PriceListIssueNumber" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="PriceConditionAppliesCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--MultiPackConfiguration elements -->
	<xs:complexType name="MultiPackConfigurationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:group ref="ItemPartInfo"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
					<xs:element ref="Depth" minOccurs="0"/>
					<xs:element ref="LinearUOM" minOccurs="0"/>
					<xs:element ref="UnitWeight" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeUOM" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KitSerialLot element -->
	<xs:complexType name="KitSerialLotType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0" maxOccurs="2"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="QtyPer" minOccurs="0"/>
					<xs:element ref="QtyPerUOM" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="SerialLotNumber" minOccurs="0"/>
					<xs:element ref="SerialLotNumberInformation" minOccurs="0"/>
					<xs:element ref="SerialWarrantyDate" minOccurs="0"/>
					<xs:element ref="SerialLotEffectiveDate" minOccurs="0"/>
					<xs:element ref="LotExpirationDate" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
					<xs:element ref="ProductOrItemDescription" minOccurs="0" maxOccurs="200"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="40"/>
					<xs:element ref="CatalogLineCharacteristics" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Pricing" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalLineItemNumber"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
