SIP/Schemas/7.1.0/Lockboxes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML Lockboxes (EDIDOC 823) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.1.0
	Date of Creation: January 25, 2008
    Revised: April 13,2011  Add LineItems to RemittanceAdviceType and RemittanceAdviceAdjustmentType

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level elements -->
	<xs:element name="Lockboxes">
		<xs:annotation>
			<xs:appinfo>Version 7.1.0</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Lockbox" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AccountNumber" type="xs:string"/>
	<xs:element name="AccountNumberQual" type="xs:string"/>
	<xs:element name="AddlDocID" type="xs:string"/>
	<xs:element name="AdjAmount" type="xs:decimal"/>
	<xs:element name="AdjReason" type="xs:string"/>
	<xs:element name="AdjReasonCode" type="xs:string"/>
	<xs:element name="AdjRefID" type="xs:string"/>
	<xs:element name="AdjustmentLine" type="AdjustmentLineType"/>
	<xs:element name="Adjustment" type="AdjustmentType"/>
	<xs:element name="Adjustments" type="AdjustmentsType"/>
	<xs:element name="Availability" type="xs:decimal"/>
	<xs:element name="Batch" type="BatchType"/>
	<xs:element name="Batches" type="BatchesType"/>
	<xs:element name="BatchLine" type="BatchLineType"/>
	<xs:element name="BatchTypeCode" type="xs:string"/>
	<xs:element name="BusinessFuncCode" type="xs:string"/>
	<xs:element name="DFIIdentificationNumber" type="xs:string"/>
	<xs:element name="DFINumberQual" type="xs:string"/>
	<xs:element name="DFINumberQual2" type="xs:string"/>
	<xs:element name="Deposit" type="DepositType"/>
	<xs:element name="DepositLine" type="DepositLineType"/>
	<xs:element name="Deposits" type="DepositsType"/>
	<xs:element name="DiscAmountTaken" type="xs:decimal"/>
	<xs:element name="DocDate" type="xs:date"/>
	<xs:element name="DocDescription" type="xs:string"/>
	<xs:element name="DocNumber" type="xs:string"/>
	<xs:element name="DocNumberTypeCode" type="xs:string"/>
	<xs:element name="EntityIdentifierCode" type="xs:string"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventTypeInformation" type="xs:string"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="FundsAvailablility" type="FundsAvailablilityType"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="ItemQuantity" type="ItemQuantityType"/>
	<xs:element name="ItemStatusCode" type="xs:string"/>
	<xs:element name="KitSerialLot" type="KitSerialLotType"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="LotExpirationDate" type="xs:date"/>
	<xs:element name="Lockbox" type="LockboxType"/>
	<xs:element name="LockboxAddress" type="LockboxAddressType"/>
	<xs:element name="MfgSuggestedRetailPrice" type="xs:decimal"/>
	<xs:element name="MonetaryAmounts" type="MonetaryAmountsType"/>
	<xs:element name="OrderLine" type="OrderLineType"/>
	<xs:element name="OrigAmount" type="xs:decimal"/>
	<xs:element name="OrigAcctNumberQual" type="xs:string"/>
	<xs:element name="OrigBankAcctNumber" type="xs:string"/>
	<xs:element name="OrigBankDFINumber" type="xs:string"/>
	<xs:element name="OrigCompanyID" type="xs:string"/>
	<xs:element name="OrigCompanySuppCode" type="xs:string"/>
	<xs:element name="OriginatingCompanyIdentifier" type="xs:string"/>
	<xs:element name="NetPaidAmount" type="xs:decimal"/>
	<xs:element name="PaymentActionCode" type="xs:string"/>
	<xs:element name="PaymentDate" type="xs:date"/>
	<xs:element name="PaymentFormatCode" type="xs:string"/>
	<xs:element name="PaymentOrder" type="PaymentOrderType"/>
	<xs:element name="PaymentOrders" type="PaymentOrdersType"/>
	<xs:element name="PaymentOrderLine" type="PaymentOrderLineType"/>
	<xs:element name="QtyPer" type="xs:decimal"/>
	<xs:element name="QtyPerUOM" type="xs:string"/>
	<xs:element name="RcvAcctNumberQual" type="xs:string"/>
	<xs:element name="RcvBankAcctNumber" type="xs:string"/>
	<xs:element name="RcvBankDFINumber" type="xs:string"/>
	<xs:element name="RcvDFINumberQual" type="xs:string"/>
	<xs:element name="RefIDQual" type="xs:string"/>
	<xs:element name="RemittanceAdviceAdjustment" type="RemittanceAdviceAdjustmentType"/>
	<xs:element name="RemittanceAdviceAdjustments" type="RemittanceAdviceAdjustmentsType"/>
	<xs:element name="RemittanceLine" type="RemittanceLineType"/>
	<xs:element name="RemittanceAdvice" type="RemittanceAdviceType"/>
	<xs:element name="RemittanceAdvices" type="RemittanceAdvicesType"/>
	<xs:element name="RetailUnitPrice" type="xs:decimal"/>
	<xs:element name="SellerDateCode" type="xs:string"/>
	<xs:element name="SerialLotEffectiveDate" type="xs:date"/>
	<xs:element name="SerialLotNumber" type="xs:string"/>
	<xs:element name="SerialLotNumberInformation" type="xs:string"/>
	<xs:element name="SerialWarrantyDate" type="xs:date"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TicketType" type="xs:string"/>
	<xs:element name="TicketTypeInformation" type="xs:string"/>
	<xs:element name="TotalAmountType" type="xs:string"/>
	<xs:element name="Trace" type="TraceType"/>
	<xs:element name="TraceTypeCode" type="xs:string"/>
	<xs:element name="TransactionHandlingCode" type="xs:string"/>
	<!--LineItems defined -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItemType elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="OrderLine" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="KitSerialLot" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OrderLineType elements -->
	<xs:complexType name="OrderLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartInfo"/>
					<xs:group ref="LineQty"/>
					<xs:element ref="MfgSuggestedRetailPrice" minOccurs="0"/>
					<xs:element ref="RetailUnitPrice" minOccurs="0"/>
					<xs:group ref="ItemPack"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="ShipDate" minOccurs="0"/>
					<xs:element ref="QtyLeftToReceive" minOccurs="0"/>
					<xs:element ref="ExtendedItemTotal" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Class" minOccurs="0"/>
					<xs:element ref="Gender" minOccurs="0"/>
					<xs:element ref="SellerDateCode" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
					<xs:element ref="ItemStatusCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KitSerialLotType element -->
	<xs:complexType name="KitSerialLotType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0" maxOccurs="2"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="QtyPer" minOccurs="0"/>
					<xs:element ref="QtyPerUOM"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="SerialLotNumber" minOccurs="0"/>
					<xs:element ref="SerialLotNumberInformation" minOccurs="0"/>
					<xs:element ref="SerialWarrantyDate" minOccurs="0"/>
					<xs:element ref="SerialLotEffectiveDate" minOccurs="0"/>
					<xs:element ref="LotExpirationDate" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Lockbox elements  -->
	<xs:complexType name="LockboxType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="Deposits"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements  -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="LockboxAddress" maxOccurs="2"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="Trace" minOccurs="0"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LockboxAddress elements  -->
	<xs:complexType name="LockboxAddressType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="AddressTypeCode"/>
					<xs:element ref="LocationCodeQualifier" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber" minOccurs="0"/>
					<xs:element ref="AddressName" minOccurs="0"/>
					<xs:element ref="AddressAlternateName"/>
					<xs:element ref="Address1"/>
					<xs:element ref="Address2" minOccurs="0"/>
					<xs:element ref="Address3" minOccurs="0"/>
					<xs:element ref="Address4" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="PostalCode" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="ContactName" minOccurs="0"/>
					<xs:element ref="ContactPhone" minOccurs="0"/>
					<xs:element ref="ContactFax" minOccurs="0"/>
					<xs:element ref="ContactEmail" minOccurs="0"/>
					<xs:element ref="AddressTaxIdNumber" minOccurs="0"/>
					<xs:element ref="AddressTaxExemptNumber" minOccurs="0"/>
					<xs:element ref="AddressAlternateName2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Trace Elements -->
	<xs:complexType name="TraceType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TraceTypeCode"/>
					<xs:element ref="ReferenceID1"/>
					<xs:element ref="OriginatingCompanyIdentifier" minOccurs="0"/>
					<xs:element ref="ReferenceID2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Deposits elements -->
	<xs:complexType name="DepositsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Deposit" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Deposit elements -->
	<xs:complexType name="DepositType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="DepositLine"/>
					<xs:element ref="MonetaryAmounts"/>
					<xs:element ref="ItemQuantity" maxOccurs="2"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Batches" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- DepositLine elements  -->
	<xs:complexType name="DepositLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceID1"/>
					<xs:element ref="Date1"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="ReferenceID2" minOccurs="0"/>
					<xs:element ref="DFINumberQual"/>
					<xs:element ref="OrigBankDFINumber"/>
					<xs:element ref="OrigAcctNumberQual" minOccurs="0"/>
					<xs:element ref="OrigBankAcctNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--MonetaryAmounts elements -->
	<xs:complexType name="MonetaryAmountsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="MonetaryAmount"/>
					<xs:element ref="CreditDebitFlag" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ItemQuantity elements -->
	<xs:complexType name="ItemQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Batches elements -->
	<xs:complexType name="BatchesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Batch" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Batch elements -->
	<xs:complexType name="BatchType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="BatchLine" minOccurs="0"/>
					<xs:element ref="FundsAvailablility" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="MonetaryAmounts" minOccurs="0"/>
					<xs:element ref="ItemQuantity" minOccurs="0"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PaymentOrders" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--BatchLine elements -->
	<xs:complexType name="BatchLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="BatchTypeCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--FundsAvailablilityLine elements -->
	<xs:complexType name="FundsAvailablilityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MonetaryAmount"/>
					<xs:element ref="Availability"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  PaymentOrders elements -->
	<xs:complexType name="PaymentOrdersType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="PaymentOrder" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  PaymentOrder elements -->
	<xs:complexType name="PaymentOrderType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="PaymentOrderLine" minOccurs="0"/>
					<xs:element ref="Trace" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="RemittanceAdvices" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PaymentOrderLine elements -->
	<xs:complexType name="PaymentOrderLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TransactionHandlingCode"/>
					<xs:element ref="MonetaryAmount"/>
					<xs:element ref="CreditDebitFlag"/>
					<xs:element ref="PaymentMethodCode"/>
					<xs:element ref="PaymentFormatCode" minOccurs="0"/>
					<xs:element ref="DFINumberQual" minOccurs="0"/>
					<xs:element ref="OrigBankDFINumber" minOccurs="0"/>
					<xs:element ref="OrigAcctNumberQual" minOccurs="0"/>
					<xs:element ref="OrigBankAcctNumber" minOccurs="0"/>
					<xs:element ref="OrigCompanyID" minOccurs="0"/>
					<xs:element ref="OrigCompanySuppCode" minOccurs="0"/>
					<xs:element ref="RcvDFINumberQual" minOccurs="0"/>
					<xs:element ref="RcvBankDFINumber" minOccurs="0"/>
					<xs:element ref="RcvAcctNumberQual" minOccurs="0"/>
					<xs:element ref="RcvBankAcctNumber" minOccurs="0"/>
					<xs:element ref="PaymentDate" minOccurs="0"/>
					<xs:element ref="BusinessFuncCode" minOccurs="0"/>
					<xs:element ref="DFINumberQual2" minOccurs="0"/>
					<xs:element ref="DFIIdentificationNumber" minOccurs="0"/>
					<xs:element ref="AccountNumberQual" minOccurs="0"/>
					<xs:element ref="AccountNumber" minOccurs="0"/>
					<xs:element ref="TraceTypeCode" minOccurs="0"/>
					<xs:element ref="ReferenceID1" minOccurs="0"/>
					<xs:element ref="OriginatingCompanyIdentifier" minOccurs="0"/>
					<xs:element ref="ReferenceID2" minOccurs="0"/>
					<xs:element ref="CurrencyCode" minOccurs="0"/>
					<xs:element ref="ExchangeRate" minOccurs="0"/>
					<xs:element ref="EntityIdentifierCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RemittanceAdvices elements-->
	<xs:complexType name="RemittanceAdvicesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="RemittanceAdvice" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RemittanceAdvice elements-->
	<xs:complexType name="RemittanceAdviceType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="RemittanceLine" minOccurs="0"/>
					<xs:element ref="Address" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="LineItems" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="RemittanceAdviceAdjustments" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RemittanceLine elements-->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="RemittanceLineType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="DocNumberTypeCode" minOccurs="0"/>
			<xs:element ref="DocNumber" minOccurs="0"/>
			<xs:element ref="PaymentActionCode" minOccurs="0"/>
			<xs:element ref="NetPaidAmount" minOccurs="0"/>
			<xs:element ref="OrigAmount" minOccurs="0"/>
			<xs:element ref="DiscAmountTaken" minOccurs="0"/>
			<xs:element ref="AdjReasonCode" minOccurs="0"/>
			<xs:element ref="MonetaryAmount" minOccurs="0"/>
			<xs:element ref="DocDate" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="Department" minOccurs="0"/>
			<xs:element ref="AddlDocID" minOccurs="0"/>
			<xs:element ref="DocDescription" minOccurs="0"/>
			<xs:element ref="ReferenceDate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- RemittanceAdviceAdjustments elements-->
	<xs:complexType name="RemittanceAdviceAdjustmentsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="RemittanceAdviceAdjustment" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RemittanceAdviceAdjustment elements-->
	<xs:complexType name="RemittanceAdviceAdjustmentType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="AdjustmentLine"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="LineItems" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Adjustments elements -->
	<xs:complexType name="AdjustmentsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Adjustment" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Adjustment elements -->
	<xs:complexType name="AdjustmentType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="AdjustmentLine"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- AdjustmentLine elements  -->
	<xs:complexType name="AdjustmentLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AdjAmount"/>
					<xs:element ref="AdjReason"/>
					<xs:element ref="RefIDQual" minOccurs="0"/>
					<xs:element ref="AdjRefID" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- SummaryType elements-->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
