SIP/Schemas/7.1.0/MotorCarrierBillOfLadings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML MotorCarrierBillOfLadings (EDIDOC 211)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

    Version Information:
    Version 7.1.0
    Date of Creation: March 1, 2008

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level elements -->
	<xs:element name="MotorCarrierBillOfLadings">
		<xs:annotation>
			<xs:appinfo>Version 7.1.0</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MotorCarrierBillOfLading" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ApplicationTypeCode" type="xs:string"/>
	<xs:element name="AssignedNumber" type="xs:string"/>
	<xs:element name="AssignedNumberDetail" type="AssignedNumberDetailType"/>
	<xs:element name="AssignedNumberDetails" type="AssignedNumberDetailsType"/>
	<xs:element name="BillOfLading" type="BillOfLadingType"/>
	<xs:element name="BillOfLadingHandling" type="BillOfLadingHandlingType"/>
	<xs:element name="BillOfLadingHeader" type="BillOfLadingHeaderType"/>
	<xs:element name="BillOfLadingIdentification" type="BillOfLadingIdentificationType"/>
	<xs:element name="CanadianHazardousNotation" type="xs:string"/>
	<xs:element name="Charge" type="xs:int"/>
	<xs:element name="ChargeCode" type="xs:string"/>
	<xs:element name="CommodityCode1" type="xs:string"/>
	<xs:element name="CommunicationNumber1" type="xs:string"/>
	<xs:element name="CommunicationNumber2" type="xs:string"/>
	<xs:element name="CompartmentIDCode" type="xs:string"/>
	<xs:element name="Detail" type="DetailType"/>
	<xs:element name="Details" type="DetailsType"/>
	<xs:element name="EmergencyResponsePlanNumber" type="xs:string"/>
	<xs:element name="EPAWaterStreamNumberCode" type="xs:string"/>
	<xs:element name="EquipmentCheckDigit" type="xs:string"/>
	<xs:element name="FreightClassCode" type="xs:string"/>
	<xs:element name="FreightRate" type="xs:decimal"/>
	<xs:element name="HazardName" type="xs:string"/>
	<xs:element name="HazardousCertification" type="HazardousCertificationType"/>
	<xs:element name="HazardCertificationCode" type="xs:string"/>
	<xs:element name="HazardCertificationDecl1" type="xs:string"/>
	<xs:element name="HazardCertificationDecl2" type="xs:string"/>
	<xs:element name="HazardousClassQualifier" type="xs:string"/>
	<xs:element name="HazardousDetail" type="HazardousDetailType"/>
	<xs:element name="HazardousEndorsement1" type="xs:string"/>
	<xs:element name="HazardousIdentification" type="HazardousIdentificationType"/>
	<xs:element name="HazardousInformation" type="HazardousInformationType"/>
	<xs:element name="HazardousInformations" type="HazardousInformationsType"/>
	<xs:element name="HazardousMaterialClassification1" type="xs:string"/>
	<xs:element name="HazardousMaterialClassification2" type="xs:string"/>
	<xs:element name="HazardousMaterialPage" type="xs:string"/>
	<xs:element name="HazardousEndorsement2" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc1" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc2" type="xs:string"/>
	<xs:element name="HazardousMaterialName" type="xs:string"/>
	<xs:element name="HazardousMaterialQual1" type="xs:string"/>
	<xs:element name="HazardousMaterialQual2" type="xs:string"/>
	<xs:element name="HazardousPlacardNotation1" type="xs:string"/>
	<xs:element name="HazardousPlacardNotation2" type="xs:string"/>
	<xs:element name="HazardZoneCode" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="InterlineCarrier" type="InterlineCarrierType"/>
	<xs:element name="IdentificationCode" type="xs:string"/>
	<xs:element name="InterimRegulatoryNumber" type="xs:string"/>
	<xs:element name="LadingLineItemNumber" type="xs:int"/>
	<xs:element name="LadingValue" type="xs:decimal"/>
	<xs:element name="MotorCarrierBillOfLading" type="MotorCarrierBillOfLadingType"/>
	<xs:element name="NetExplosiveQty" type="xs:int"/>
	<xs:element name="NetExplosiveQtyUOM" type="xs:string"/>
	<xs:element name="NetExplosiveWeight" type="xs:int"/>
	<xs:element name="NOSIndicatorCode" type="xs:string"/>
	<xs:element name="OrderIdentification" type="OrderIdentificationType"/>
	<xs:element name="PackagingCode1" type="xs:string"/>
	<xs:element name="PackagingCode2" type="xs:string"/>
	<xs:element name="PackingGroupCode" type="xs:string"/>
	<xs:element name="RateOrValueQualifier1" type="xs:string"/>
	<xs:element name="RateOrValueQualifier2" type="xs:string"/>
	<xs:element name="RatesAndCharges" type="RatesAndChargesType"/>
	<xs:element name="ReportableQuantityCode" type="xs:string"/>
	<xs:element name="ResidueIndicatorCode" type="xs:string"/>
	<xs:element name="SpecialCommodityIndicatorCode" type="xs:string"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="SpecialHandlingDescription" type="xs:string"/>
	<xs:element name="SpecialServicesCode" type="xs:string"/>
	<xs:element name="StateProvinceCode" type="xs:string"/>
	<xs:element name="SubsidiaryClassification1" type="xs:string"/>
	<xs:element name="SubsidiaryClassification2" type="xs:string"/>
	<xs:element name="SubsidiaryClassification3" type="xs:string"/>
	<xs:element name="SubsidiaryRiskIndicator" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="Temperature1" type="xs:decimal"/>
	<xs:element name="Temperature2" type="xs:decimal"/>
	<xs:element name="Temperature3" type="xs:decimal"/>
	<xs:element name="TotalLineItems" type="xs:int"/>
	<xs:element name="TotalOrders" type="xs:string"/>
	<xs:element name="TotalQuantity" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:string"/>
	<xs:element name="TransportationMethodCode" type="xs:string"/>
	<xs:element name="UnitOfMeasure1" type="xs:string"/>
	<xs:element name="UnitOfMeasure2" type="xs:string"/>
	<xs:element name="UnitOfMeasure3" type="xs:string"/>
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="WaterCharacteristicsCode" type="xs:string"/>
	<xs:element name="WeightUOM" type="xs:string"/>
	<!-- MotorCarrierBillOfLading elements -->
	<xs:complexType name="MotorCarrierBillOfLadingType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="Details"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="BillOfLadingHeader"/>
					<xs:element ref="InterlineCarrier" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="BillOfLadingHandling" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BillOfLadingHeaderr elements -->
	<xs:complexType name="BillOfLadingHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="Date1"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TsetPurposeCode"/>
					<xs:element ref="ApplicationTypeCode" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentInitial" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber" minOccurs="0"/>
					<xs:element ref="EquipmentCheckDigit" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="ShipmentStatusCode" minOccurs="0"/>
					<xs:element ref="FOBPayCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- InterlineCarrier elements -->
	<xs:complexType name="InterlineCarrierType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="RoutingSequenceCode"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="TransportationMethodCode" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BillOfLadingHandling elements -->
	<xs:complexType name="BillOfLadingHandlingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="SpecialServicesCode" minOccurs="0"/>
					<xs:element ref="SpecialHandlingDescription" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Details dataset definition-->
	<xs:complexType name="DetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Detail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Detail group definition-->
	<xs:complexType name="DetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="RatesAndCharges"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="BillOfLading" minOccurs="0"/>
					<xs:element ref="AssignedNumberDetails" minOccurs="0"/>
					<xs:element ref="HazardousInformations" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RatesAndCharges elements -->
	<xs:complexType name="RatesAndChargesType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LadingLineItemNumber"/>
					<xs:element ref="Charge" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier1" minOccurs="0"/>
					<xs:element ref="FreightRate" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier2" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="ChargeCode" minOccurs="0"/>
					<xs:element ref="Percent" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  BillOfLading group definition-->
	<xs:complexType name="BillOfLadingType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="BillOfLadingIdentification"/>
					<xs:element ref="MarksAndNumbersCollection" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="OrderIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BillOfLadingIdentification elements -->
	<xs:complexType name="BillOfLadingIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="PackagingCode1" minOccurs="0"/>
					<xs:element ref="WeightQualifier"/>
					<xs:element ref="WeightUOM"/>
					<xs:element ref="Weight"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="PackagingCode2" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse" minOccurs="0"/>
					<xs:element ref="CommodityCode1" minOccurs="0"/>
					<xs:element ref="FreightClassCode" minOccurs="0"/>
					<xs:element ref="LadingValue" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  OrderIdentification elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="OrderIdentificationType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="ShipmentIdentification" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="AssignedNumber" minOccurs="0"/>
			<xs:element ref="ReferenceID1" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="ReferenceID2" minOccurs="0"/>
			<xs:element ref="UOM" minOccurs="0"/>
			<xs:element ref="Quantity1" minOccurs="0"/>
			<xs:element ref="WeightUnitCode" minOccurs="0"/>
			<xs:element ref="Weight" minOccurs="0"/>
			<xs:element ref="VolumeQualifier" minOccurs="0"/>
			<xs:element ref="Volume" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--  AssignedNumberDetails dataset definition-->
	<xs:complexType name="AssignedNumberDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="AssignedNumberDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  AssignedNumberDetail group definition-->
	<xs:complexType name="AssignedNumberDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="MarksAndNumbersCollection"/>
					<xs:element ref="OrderIdentification" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  HazardousInformations dataset definition-->
	<xs:complexType name="HazardousInformationsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="HazardousInformation" maxOccurs="25"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  HazardousInformation group definition-->
	<xs:complexType name="HazardousInformationType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Contact" minOccurs="0"/>
					<xs:element ref="HazardousCertification" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="HazardousIdentification"/>
					<xs:element ref="HazardousDetail" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="5"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousCertification elements -->
	<xs:complexType name="HazardousCertificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="HazardName" minOccurs="0"/>
					<xs:element ref="HazardCertificationCode" minOccurs="0"/>
					<xs:element ref="HazardCertificationDecl1" minOccurs="0"/>
					<xs:element ref="HazardCertificationDecl2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousIdentification elements -->
	<xs:complexType name="HazardousIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="UnitOfMeasure1"/>
					<xs:element ref="LadingQuantity"/>
					<xs:element ref="IdentificationCode" minOccurs="0"/>
					<xs:element ref="HazardousMaterialPage" minOccurs="0"/>
					<xs:element ref="CommodityCode1" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure2" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="CompartmentIDCode" minOccurs="0"/>
					<xs:element ref="ResidueIndicatorCode" minOccurs="0"/>
					<xs:element ref="PackingGroupCode" minOccurs="0"/>
					<xs:element ref="InterimRegulatoryNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousDetail elements -->
	<xs:complexType name="HazardousDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="HazardousMaterialClassification1" minOccurs="0"/>
					<xs:element ref="HazardousClassQualifier" minOccurs="0"/>
					<xs:element ref="HazardousPlacardNotation1" minOccurs="0"/>
					<xs:element ref="HazardousEndorsement1" minOccurs="0"/>
					<xs:element ref="ReportableQuantityCode" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure1" minOccurs="0"/>
					<xs:element ref="Temperature1" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure2" minOccurs="0"/>
					<xs:element ref="Temperature2" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure3" minOccurs="0"/>
					<xs:element ref="Temperature3" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="NetExplosiveWeight" minOccurs="0"/>
					<xs:element ref="HazardousMaterialQual1" minOccurs="0"/>
					<xs:element ref="HazardousMaterialName" minOccurs="0"/>
					<xs:element ref="NOSIndicatorCode" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse" minOccurs="0"/>
					<xs:element ref="HazardousMaterialQual2" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc1" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc2" minOccurs="0"/>
					<xs:element ref="HazardZoneCode" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="EPAWaterStreamNumberCode" minOccurs="0"/>
					<xs:element ref="WaterCharacteristicsCode" minOccurs="0"/>
					<xs:element ref="StateProvinceCode" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="EmergencyResponsePlanNumber" minOccurs="0"/>
					<xs:element ref="CommunicationNumber1" minOccurs="0"/>
					<xs:element ref="PackingGroupCode" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification1" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification2" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification3" minOccurs="0"/>
					<xs:element ref="SubsidiaryRiskIndicator" minOccurs="0"/>
					<xs:element ref="NetExplosiveQty" minOccurs="0"/>
					<xs:element ref="CanadianHazardousNotation" minOccurs="0"/>
					<xs:element ref="SpecialCommodityIndicatorCode" minOccurs="0"/>
					<xs:element ref="CommunicationNumber2" minOccurs="0"/>
					<xs:element ref="NetExplosiveQtyUOM" minOccurs="0"/>
					<xs:element ref="HazardousMaterialClassification2" minOccurs="0"/>
					<xs:element ref="HazardousPlacardNotation2" minOccurs="0"/>
					<xs:element ref="HazardousEndorsement2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalOrders" minOccurs="0"/>
					<xs:element ref="TotalLineItems" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
