SIP/Schemas/7.1.0/PurchaseOrderChangeAcks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML PurchaseOrderChangeAcks (EDIDOC 865) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.1.0
	Date of Creation: September 07, 2006

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level elements -->
	<xs:element name="PurchaseOrderChangeAcks">
		<xs:annotation>
			<xs:appinfo>Version 7.1.0</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PurchaseOrderChangeAck" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PurchaseOrderChangeAck" type="PurchaseOrderChangeAckType"/>
	<xs:complexType name="PurchaseOrderChangeAckType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems" minOccurs="0"/>
					<xs:element ref="Summary" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Header" type="HeaderType"/>
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="OrderHeader"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:element name="OrderHeader" type="OrderHeaderType"/>
	<xs:complexType name="OrderHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode" minOccurs="0"/>
					<xs:element ref="PurchaseOrderTypeCode" minOccurs="0"/>
					<xs:element ref="PurchaseOrderDate" minOccurs="0"/>
					<xs:element ref="ReleaseNumber" minOccurs="0"/>
					<xs:element ref="ContractNumber" minOccurs="0"/>
					<xs:element ref="ContractType" minOccurs="0"/>
					<xs:element ref="InvoiceTypeCode" minOccurs="0"/>
					<xs:element ref="ChangeOrderSeqNumber" minOccurs="0"/>
					<xs:element ref="POChangeDate" minOccurs="0"/>
					<xs:element ref="POChangeAcknowledgeDate" minOccurs="0"/>
					<xs:element ref="AcknowledgementType" minOccurs="0"/>
					<xs:element ref="ShipCompleteCode" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
					<xs:element ref="ExchangeRate" minOccurs="0"/>
					<xs:element ref="TaxExemptCode" minOccurs="0"/>
					<xs:element ref="LetterOfCredit" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="JobNumber" minOccurs="0"/>
					<xs:element ref="Division" minOccurs="0"/>
					<xs:element ref="CustomerAccountNumber" minOccurs="0"/>
					<xs:element ref="CustomerOrderNumber" minOccurs="0"/>
					<xs:element ref="PromotionDealNumber" minOccurs="0"/>
					<xs:element ref="PromotionDealDescription" minOccurs="0"/>
					<xs:element ref="TicketingCodeReference" minOccurs="0"/>
					<xs:element ref="TicketingCodeDescription" minOccurs="0"/>
					<xs:group ref="Carrier" minOccurs="0"/>
					<xs:group ref="FOB" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PurchaseOrderTypeCode" type="xs:string"/>
	<xs:element name="PurchaseOrderDate" type="xs:date"/>
	<xs:element name="ReleaseNumber" type="xs:string"/>
	<xs:element name="ContractNumber" type="xs:string"/>
	<xs:element name="ContractType" type="xs:string"/>
	<xs:element name="InvoiceTypeCode" type="xs:string"/>
	<xs:element name="ChangeOrderSeqNumber" type="xs:string"/>
	<xs:element name="POChangeDate" type="xs:date"/>
	<xs:element name="POChangeAcknowledgeDate" type="xs:date"/>
	<xs:element name="AcknowledgementType" type="xs:string"/>
	<xs:element name="LetterOfCredit" type="xs:string"/>
	<xs:element name="TicketingCodeReference" type="xs:string"/>
	<xs:element name="TicketingCodeDescription" type="xs:string"/>
	<!--LineItem defined -->
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="OrderLine"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="KitSerialLot" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ShipDestinationQty" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Schedule" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="LineItemAcknowledgement" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OrderLine element -->
	<xs:element name="OrderLine" type="OrderLineType"/>
	<xs:complexType name="OrderLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartInfo"/>
					<xs:element ref="LineChangeCode"/>
					<xs:group ref="LineQty"/>
					<xs:element ref="MfgSuggestedRetailPrice" minOccurs="0"/>
					<xs:element ref="RetailUnitPrice" minOccurs="0"/>
					<xs:group ref="ItemPack"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="ShipDate" minOccurs="0"/>
					<xs:element ref="QtyLeftToReceive" minOccurs="0"/>
					<xs:element ref="ExtendedItemTotal" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Class" minOccurs="0"/>
					<xs:element ref="Gender" minOccurs="0"/>
					<xs:element ref="SellerDateCode" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
					<xs:element ref="ItemStatusCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LineChangeCode" type="xs:string"/>
	<xs:element name="MfgSuggestedRetailPrice" type="xs:decimal"/>
	<xs:element name="RetailUnitPrice" type="xs:decimal"/>
	<xs:element name="SellerDateCode" type="xs:string"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventTypeInformation" type="xs:string"/>
	<xs:element name="TicketType" type="xs:string"/>
	<xs:element name="TicketTypeInformation" type="xs:string"/>
	<!-- KitSerialLot element -->
	<xs:element name="KitSerialLot" type="KitSerialLotType"/>
	<xs:complexType name="KitSerialLotType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0" maxOccurs="2"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="QtyPer" minOccurs="0"/>
					<xs:element ref="QtyPerUOM"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="SerialLotNumber" minOccurs="0"/>
					<xs:element ref="SerialLotNumberInformation" minOccurs="0"/>
					<xs:element ref="SerialWarrantyDate" minOccurs="0"/>
					<xs:element ref="SerialLotEffectiveDate" minOccurs="0"/>
					<xs:element ref="LotExpirationDate" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LotExpirationDate" type="xs:date"/>
	<xs:element name="QtyPer" type="xs:decimal"/>
	<xs:element name="QtyPerUOM" type="xs:string"/>
	<xs:element name="SerialLotEffectiveDate" type="xs:date"/>
	<xs:element name="SerialLotNumber" type="xs:string"/>
	<xs:element name="SerialLotNumberInformation" type="xs:string"/>
	<xs:element name="SerialWarrantyDate" type="xs:date"/>
	<!-- LineItemAcknowledgement Elements-->
	<xs:element name="LineItemAcknowledgement" type="LineItemAcknowledgementType"/>
	<xs:complexType name="LineItemAcknowledgementType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:element ref="ItemStatusCode" minOccurs="0"/>
					<xs:element ref="ItemScheduleQty" minOccurs="0"/>
					<xs:element ref="ItemScheduleUOM" minOccurs="0"/>
					<xs:element ref="ItemScheduleQualifier" minOccurs="0"/>
					<xs:element ref="ItemScheduleDate" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ItemStatusCode" type="xs:string"/>
	<xs:element name="ItemScheduleUOM" type="xs:string"/>
	<xs:element name="ItemScheduleQualifier" type="xs:string"/>
	<xs:element name="ItemScheduleQty" type="xs:decimal"/>
	<xs:element name="ItemScheduleDate" type="xs:date"/>
	<!-- Summary elements -->
	<xs:element name="Summary" type="SummaryType"/>
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalAmount" minOccurs="0"/>
					<xs:element ref="TotalLineItemNumber" minOccurs="0"/>
					<xs:element ref="TotalQty" minOccurs="0"/>
					<xs:element ref="TotalAllowances" minOccurs="0"/>
					<xs:element ref="TotalNonFreightCharges" minOccurs="0"/>
					<xs:element ref="TotalFreightCharges" minOccurs="0"/>
					<xs:element ref="TotalDiscountAmount" minOccurs="0"/>
					<xs:element ref="TotalSalesTaxAmount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TotalAllowances" type="xs:decimal"/>
	<xs:element name="TotalDiscountAmount" type="xs:decimal"/>
	<xs:element name="TotalFreightCharges" type="xs:decimal"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalNonFreightCharges" type="xs:decimal"/>
	<xs:element name="TotalQty" type="xs:decimal"/>
	<xs:element name="TotalSalesTaxAmount" type="xs:decimal"/>
</xs:schema>
