SIP/Schemas/7.1.0/ShippingSchedules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML ShippingSchedule (EDIDOC 862) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.1.0
	Date of Creation: July 1, 2009

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level elements -->
	<xs:element name="ShippingSchedules">
		<xs:annotation>
			<xs:appinfo>Version 7.1.0</xs:appinfo>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShippingSchedule" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjReasonCode" type="xs:string"/>
	<xs:element name="ContractNumber" type="xs:string"/>
	<xs:element name="CreationDate" type="xs:date"/>
	<xs:element name="DateTimeQualifier" type="xs:string"/>
	<xs:element name="EndDate" type="xs:date"/>
	<xs:element name="EndTime" type="xs:time"/>
	<xs:element name="ForecastEndDate" type="xs:date"/>
	<xs:element name="ForecastQualifier" type="xs:string"/>
	<xs:element name="ForecastQuantity" type="xs:decimal"/>
	<xs:element name="ForecastScheduleLine" type="ForecastScheduleLineType"/>
	<xs:element name="ForecastSchedule" type="ForecastScheduleType"/>
	<xs:element name="ForecastSchedules" type="ForecastSchedulesType"/>
	<xs:element name="ForecastStartDate" type="xs:date"/>
	<xs:element name="ForecastTime" type="xs:time"/>
	<xs:element name="ForecastTimingQualifier" type="xs:string"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="HeaderAddress" type="HeaderAddressType"/>
	<xs:element name="HeaderAddresses" type="HeaderAddressesType"/>
	<xs:element name="ItemQuantity" type="ItemQuantityType"/>
	<xs:element name="ItemStatusCode" type="xs:string"/>
	<xs:element name="JustInTimeSchedule" type="JustInTimeScheduleType"/>
	<xs:element name="JustInTimeScheduleLine" type="JustInTimeScheduleLineType"/>
	<xs:element name="JustInTimeSchedules" type="JustInTimeSchedulesType"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="MfgSuggestedRetailPrice" type="xs:decimal"/>
	<xs:element name="PackagingCharacteristicCode" type="xs:string"/>
	<xs:element name="PackagingDescription" type="xs:string"/>
	<xs:element name="PackagingDescriptionCode" type="xs:string"/>
	<xs:element name="Packaging" type="PackagingType"/>
	<xs:element name="PatternCode1" type="xs:string"/>
	<xs:element name="PatternTimeCode1" type="xs:string"/>
	<xs:element name="PatternCode2" type="xs:string"/>
	<xs:element name="PatternTimeCode2" type="xs:string"/>
	<xs:element name="PatternCode3" type="xs:string"/>
	<xs:element name="PatternTimeCode3" type="xs:string"/>
	<xs:element name="PatternCode4" type="xs:string"/>
	<xs:element name="PatternTimeCode4" type="xs:string"/>
	<xs:element name="ReleaseNumber" type="xs:string"/>
	<xs:element name="RetailUnitPrice" type="xs:decimal"/>
	<xs:element name="ScheduleTypeCode" type="xs:string"/>
	<xs:element name="ScheduleTypeQualifier" type="xs:string"/>
	<xs:element name="ScheduleType" type="xs:string"/>
	<xs:element name="SellerDateCode" type="xs:string"/>
	<xs:element name="ShipDelivery" type="ShipDeliveryType"/>
	<xs:element name="ShipRcvDate" type="xs:date"/>
	<xs:element name="ShipRcvQty" type="xs:decimal"/>
	<xs:element name="ShipRcvTime" type="xs:time"/>
	<xs:element name="ShipReceive" type="ShipReceiveType"/>
	<xs:element name="ShipReceiveLine" type="ShipReceiveLineType"/>
	<xs:element name="ShipReceives" type="ShipReceivesType"/>
	<xs:element name="ShipRecvQualifier" type="xs:string"/>
	<xs:element name="ShippingSchedule" type="ShippingScheduleType"/>
	<xs:element name="ShippingScheduleHeader" type="ShippingScheduleHeaderType"/>
	<xs:element name="ShippingScheduleLine" type="ShippingScheduleLineType"/>
	<xs:element name="StartDate" type="xs:date"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalNumberofLineItems" type="xs:int"/>
	<xs:element name="TotalQuantity" type="xs:decimal"/>
	<xs:element name="TotalVolume" type="xs:decimal"/>
	<xs:element name="TotalVolumeUOM" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TotalWeightUOM" type="xs:string"/>
	<xs:element name="UnitLoadOptionCode" type="xs:string"/>
	<xs:element name="UnitPriceUOM" type="xs:string"/>
	<xs:complexType name="ShippingScheduleType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--HeaderType elements -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="ShippingScheduleHeader"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="HeaderAddresses" minOccurs="0" maxOccurs="200"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShippingScheduleHeaderType elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="ShippingScheduleHeaderType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId"/>
			<xs:element ref="DocumentId"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="TsetPurposeCode"/>
			<xs:element ref="CreationDate"/>
			<xs:element ref="ScheduleTypeCode"/>
			<xs:element ref="StartDate"/>
			<xs:element ref="EndDate"/>
			<xs:element ref="ReleaseNumber" minOccurs="0"/>
			<xs:element ref="ReferenceIdentification" minOccurs="0"/>
			<xs:element ref="ContractNumber" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="ScheduleTypeQualifier" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- HeaderAddressesType elements -->
	<xs:complexType name="HeaderAddressesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="HeaderAddress" maxOccurs="200"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HeaderAddressType elements -->
	<xs:complexType name="HeaderAddressType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Address"/>
					<xs:element ref="FOBRelatedInstruction" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LineItemsType elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LineItemType elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ShippingScheduleLine"/>
					<xs:element ref="Packaging" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ItemQuantity" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="Contact" minOccurs="0"/>
					<xs:element ref="ShipDelivery" minOccurs="0"/>
					<xs:element ref="ForecastSchedules" minOccurs="0"/>
					<xs:element ref="ShipReceives" minOccurs="0"/>
					<xs:element ref="CarrierQuantityAndWeightDetail" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentDetail" minOccurs="0"/>
					<xs:element ref="CarrierRoutingDetail" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShippingScheduleLineType Elements -->
	<xs:complexType name="ShippingScheduleLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartInfo"/>
					<xs:element ref="OrderQty" minOccurs="0"/>
					<xs:element ref="OrderQtyUOM" minOccurs="0"/>
					<xs:element ref="UnitPriceUOM" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="MfgSuggestedRetailPrice" minOccurs="0"/>
					<xs:element ref="RetailUnitPrice" minOccurs="0"/>
					<xs:group ref="ItemPack"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="ShipDate" minOccurs="0"/>
					<xs:element ref="QtyLeftToReceive" minOccurs="0"/>
					<xs:element ref="ExtendedItemTotal" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Class" minOccurs="0"/>
					<xs:element ref="Gender" minOccurs="0"/>
					<xs:element ref="SellerDateCode" minOccurs="0"/>
					<xs:element ref="ItemStatusCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PackagingType elements -->
	<xs:complexType name="PackagingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ItemDescriptionType" minOccurs="0"/>
					<xs:element ref="PackagingCharacteristicCode" minOccurs="0"/>
					<xs:element ref="AgencyQualifierCode" minOccurs="0"/>
					<xs:element ref="PackagingDescriptionCode" minOccurs="0"/>
					<xs:element ref="PackagingDescription" minOccurs="0"/>
					<xs:element ref="UnitLoadOptionCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ItemQuantityType elements -->
	<xs:complexType name="ItemQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipDeliveryType elements -->
	<xs:complexType name="ShipDeliveryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PatternCode1" minOccurs="0"/>
					<xs:element ref="PatternTimeCode1" minOccurs="0"/>
					<xs:element ref="PatternCode2" minOccurs="0"/>
					<xs:element ref="PatternTimeCode2" minOccurs="0"/>
					<xs:element ref="PatternCode3" minOccurs="0"/>
					<xs:element ref="PatternTimeCode3" minOccurs="0"/>
					<xs:element ref="PatternCode4" minOccurs="0"/>
					<xs:element ref="PatternTimeCode4" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ForcastSchedutesType elements -->
	<xs:complexType name="ForecastSchedulesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ForecastSchedule" maxOccurs="9999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ForcastScheduteType elements -->
	<xs:complexType name="ForecastScheduleType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ForecastScheduleLine"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="ShipDestinationQty" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="JustInTimeSchedules" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ForecastScheduleLine elements -->
	<xs:complexType name="ForecastScheduleLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ForecastQuantity" minOccurs="0"/>
					<xs:element ref="ForecastQualifier" minOccurs="0"/>
					<xs:element ref="ForecastTimingQualifier" minOccurs="0"/>
					<xs:element ref="ForecastStartDate" minOccurs="0"/>
					<xs:element ref="ForecastEndDate" minOccurs="0"/>
					<xs:element ref="DateTimeQualifier" minOccurs="0"/>
					<xs:element ref="ForecastTime" minOccurs="0"/>
					<xs:element ref="ReferenceQual" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="ScheduleType" minOccurs="0"/>
					<xs:element ref="QuantityQualifier" minOccurs="0"/>
					<xs:element ref="AdjReasonCode" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--JustInTimeSchedulesType elements -->
	<xs:complexType name="JustInTimeSchedulesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="JustInTimeSchedule" maxOccurs="9999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--JustInTimeScheduleType elements -->
	<xs:complexType name="JustInTimeScheduleType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="JustInTimeScheduleLine"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="500"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--JustInTimeScheduleLineType elements -->
	<xs:complexType name="JustInTimeScheduleLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="Quantity1"/>
					<xs:element ref="Time1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipReceivesType elements -->
	<xs:complexType name="ShipReceivesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ShipReceive" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipReceiveType elements -->
	<xs:complexType name="ShipReceiveType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ShipReceiveLine"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="500"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipReceiveLineType elements -->
	<xs:complexType name="ShipReceiveLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier" minOccurs="0"/>
					<xs:element ref="ShipRcvQty" minOccurs="0"/>
					<xs:element ref="ShipRecvQualifier" minOccurs="0"/>
					<xs:element ref="ShipRcvDate" minOccurs="0"/>
					<xs:element ref="ShipRcvTime" minOccurs="0"/>
					<xs:element ref="EndDate" minOccurs="0"/>
					<xs:element ref="EndTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--SummaryType elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalLineItemNumber" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="TotalWeightUOM" minOccurs="0"/>
					<xs:element ref="TotalVolume" minOccurs="0"/>
					<xs:element ref="TotalVolumeUOM" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
