SIP/Schemas/7.0.2/CarrierLoadTenders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML CarrierLoadTenders (EDIDOC 204)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

    Version Information:
    Version 7.12.3
    Date of Creation: April 1, 2008

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase-->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="AccomplishCode" type="xs:string"/>
	<xs:element name="Advances" type="xs:int"/>
	<xs:element name="ApplicationErrorCode" type="xs:string"/>
	<xs:element name="ApplicationType" type="xs:string"/>
	<xs:element name="BillOfLadingHandling" type="BillOfLadingHandlingType"/>
	<xs:element name="CanadianHazardousNotation" type="xs:string"/>
	<xs:element name="CarrierDetail" type="CarrierDetailType"/>
	<xs:element name="CarrierLoadTender" type="CarrierLoadTenderType"/>
	<xs:element name="CarrierLoadTenderHeader" type="CarrierLoadTenderHeaderType"/>
	<xs:element name="Charge" type="xs:int"/>
	<xs:element name="ChargeOrAllowanceCode" type="xs:string"/>
	<xs:element name="Code" type="xs:string"/>
	<xs:element name="CommodityCode1" type="xs:string"/>
	<xs:element name="CommodityCode2" type="xs:string"/>
	<xs:element name="CommodityCodeQual1" type="xs:string"/>
	<xs:element name="CommodityCodeQual2" type="xs:string"/>
	<xs:element name="CommunicationNumber1" type="xs:string"/>
	<xs:element name="CommunicationNumber2" type="xs:string"/>
	<xs:element name="CompartmentIDCode" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="Container" type="ContainerType"/>
	<xs:element name="Containers" type="ContainersType"/>
	<xs:element name="CustomsDocHandlingCode" type="xs:string"/>
	<xs:element name="DeclaredValue" type="xs:int"/>
	<xs:element name="Detail" type="DetailType"/>
	<xs:element name="Details" type="DetailsType"/>
	<xs:element name="Diameter" type="xs:decimal"/>
	<xs:element name="Dunnage" type="xs:int"/>
	<xs:element name="EmergencyResponsePlanNumber" type="xs:string"/>
	<xs:element name="EntityIDCode1" type="xs:string"/>
	<xs:element name="EPAWaterStreamNumberCode" type="xs:string"/>
	<xs:element name="EquipmentCheckDigit" type="xs:int"/>
	<xs:element name="Equipment" type="EquipmentType"/>
	<xs:element name="EquipmentLength" type="xs:int"/>
	<xs:element name="FreightRate" type="xs:decimal"/>
	<xs:element name="GasketType" type="xs:string"/>
	<xs:element name="HazardName" type="xs:string"/>
	<xs:element name="HazardousCertification" type="HazardousCertificationType"/>
	<xs:element name="HazardCertificationCode" type="xs:string"/>
	<xs:element name="HazardCertificationDecl1" type="xs:string"/>
	<xs:element name="HazardCertificationDecl2" type="xs:string"/>
	<xs:element name="HazardousClassQualifier" type="xs:string"/>
	<xs:element name="HazardousDetail" type="HazardousDetailType"/>
	<xs:element name="HazardousEndorsement1" type="xs:string"/>
	<xs:element name="HazardousIdentification" type="HazardousIdentificationType"/>
	<xs:element name="HazardousInformation" type="HazardousInformationType"/>
	<xs:element name="HazardousInformations" type="HazardousInformationsType"/>
	<xs:element name="HazardousMaterialClassification1" type="xs:string"/>
	<xs:element name="HazardousMaterialClassification2" type="xs:string"/>
	<xs:element name="HazardousMaterialPage" type="xs:string"/>
	<xs:element name="HazardousEndorsement2" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc1" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc2" type="xs:string"/>
	<xs:element name="HazardousMaterialName" type="xs:string"/>
	<xs:element name="HazardousMaterialQual1" type="xs:string"/>
	<xs:element name="HazardousMaterialQual2" type="xs:string"/>
	<xs:element name="HazardousPlacardNotation1" type="xs:string"/>
	<xs:element name="HazardousPlacardNotation2" type="xs:string"/>
	<xs:element name="HazardZoneCode" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Height" type="xs:decimal"/>
	<xs:element name="HoseType" type="xs:string"/>
	<xs:element name="IdentificationCode" type="xs:string"/>
	<xs:element name="InletOutletMaterialCode" type="xs:string"/>
	<xs:element name="InterimRegulatoryNumber" type="xs:string"/>
	<xs:element name="InterlineCarrier" type="InterlineCarrierType"/>
	<xs:element name="LadingDetail" type="LadingDetailType"/>
	<xs:element name="LadingLineItemNumber" type="xs:int"/>
	<xs:element name="LoadDeviceCode" type="xs:string"/>
	<xs:element name="LoadingDischargeLocation" type="xs:string"/>
	<xs:element name="MarksAndNumbers" type="MarksAndNumbersType"/>
	<xs:element name="MarksAndNumbersQual1" type="xs:string"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:decimal"/>
	<xs:element name="MiscEquipmentCode" type="xs:string"/>
	<xs:element name="NetExplosiveQty" type="xs:int"/>
	<xs:element name="NetExplosiveQtyUOM" type="xs:string"/>
	<xs:element name="NetExplosiveWeight" type="xs:int"/>
	<xs:element name="NOSIndicatorCode" type="xs:string"/>
	<xs:element name="NumberTankCompartments" type="xs:int"/>
	<xs:element name="Order" type="OrderType"/>
	<xs:element name="OrderDetailLine" type="OrderDetailLineType"/>
	<xs:element name="Orders" type="OrdersType"/>
	<xs:element name="PackagingCode" type="xs:string"/>
	<xs:element name="PackagingFormCode" type="xs:string"/>
	<xs:element name="PackingGroupCode" type="xs:string"/>
	<xs:element name="PalletExchangeCode" type="xs:string"/>
	<xs:element name="PalletInformation" type="PalletInformationType"/>
	<xs:element name="PalletWeightUnitCode" type="xs:string"/>
	<xs:element name="PalletWeight" type="xs:decimal"/>
	<xs:element name="PrepaidAmount" type="xs:int"/>
	<xs:element name="QuantityOfPalletsShipped" type="xs:int"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="RateOrValueQualifier1" type="xs:string"/>
	<xs:element name="RateOrValueQualifier2" type="xs:string"/>
	<xs:element name="ReferenceID1" type="xs:string"/>
	<xs:element name="ReferenceID2" type="xs:string"/>
	<xs:element name="ReferenceID3" type="xs:string"/>
	<xs:element name="ReportableQuantityCode" type="xs:string"/>
	<xs:element name="ResidueIndicatorCode" type="xs:string"/>
	<xs:element name="SealNumber1" type="xs:string"/>
	<xs:element name="SealNumber2" type="xs:string"/>
	<xs:element name="SealNumber3" type="xs:string"/>
	<xs:element name="SealNumber4" type="xs:string"/>
	<xs:element name="ServiceTypeCode" type="xs:string"/>
	<xs:element name="ShipmentLadingQuantity1" type="xs:int"/>
	<xs:element name="ShipmentLadingQuantity2" type="xs:int"/>
	<xs:element name="ShipmentQualifier" type="xs:string"/>
	<xs:element name="ShipmentWeightAndPackagingAndQuantity" type="ShipmentWeightAndPackagingAndQuantityType"/>
	<xs:element name="SpecialCommodityIndicatorCode" type="xs:string"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="SpecialHandlingDescription" type="xs:string"/>
	<xs:element name="SpecialServicesCode" type="xs:string"/>
	<xs:element name="StandardPointLocationCode" type="xs:string"/>
	<xs:element name="StateProvinceCode" type="xs:string"/>
	<xs:element name="StopReasonCode" type="xs:string"/>
	<xs:element name="StopSequenceNumber" type="xs:int"/>
	<xs:element name="SubsidiaryClassification1" type="xs:string"/>
	<xs:element name="SubsidiaryClassification2" type="xs:string"/>
	<xs:element name="SubsidiaryClassification3" type="xs:string"/>
	<xs:element name="SubsidiaryRiskIndicator" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TareWeight" type="xs:int"/>
	<xs:element name="TariffNumber" type="xs:string"/>
	<xs:element name="TarrifServiceCode" type="xs:string"/>
	<xs:element name="Temperature1" type="xs:decimal"/>
	<xs:element name="Temperature2" type="xs:decimal"/>
	<xs:element name="Temperature3" type="xs:decimal"/>
	<xs:element name="TotalEquipment" type="xs:int"/>
	<xs:element name="TotalWeight" type="xs:string"/>
	<xs:element name="TrailerLiningCode" type="xs:string"/>
	<xs:element name="TransportationMethodCode" type="xs:string"/>
	<xs:element name="UnitOfMeasure1" type="xs:string"/>
	<xs:element name="UnitOfMeasure2" type="xs:string"/>
	<xs:element name="UnitOfMeasure3" type="xs:string"/>
	<xs:element name="VesselMaterialCode" type="xs:string"/>
	<xs:element name="WaterCharacteristicsCode" type="xs:string"/>
	<xs:element name="Weight1" type="xs:decimal"/>
	<xs:element name="Weight2" type="xs:decimal"/>
	<xs:element name="WeightAllowance" type="xs:int"/>
	<xs:element name="WeightUnitCode1" type="xs:string"/>
	<xs:element name="WeightUnitCode2" type="xs:string"/>
	<xs:element name="WeightUOM" type="xs:string"/>
	<xs:element name="Width" type="xs:decimal"/>
	<!-- top level elements -->
	<xs:element name="CarrierLoadTenders">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML CarrierLoadTenders schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CarrierLoadTender" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- CarrierLoadTender elements -->
	<xs:complexType name="CarrierLoadTenderType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="Details"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="CarrierLoadTenderHeader"/>
					<xs:element ref="PalletInformation" minOccurs="0"/>
					<xs:element ref="InterlineCarrier" minOccurs="0"/>
					<xs:element ref="HazardousCertification" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="Date" minOccurs="0"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="BillOfLadingHandling" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="Equipment" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- CarrierLoadTenderHeaderr elements -->
	<xs:complexType name="CarrierLoadTenderHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode" minOccurs="0"/>
					<xs:element ref="TarrifServiceCode" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="StandardPointLocationCode" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="FOBPayCode"/>
					<xs:element ref="ShipmentQualifier" minOccurs="0"/>
					<xs:element ref="TotalEquipment" minOccurs="0"/>
					<xs:element ref="ShipmentWeightUOM" minOccurs="0"/>
					<xs:element ref="CustomsDocHandlingCode" minOccurs="0"/>
					<xs:element ref="TransportationTermsCode" minOccurs="0"/>
					<xs:element ref="PaymentMethodCode" minOccurs="0"/>
					<xs:element ref="ApplicationType" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="BillOfLadingNumber" minOccurs="0"/>
					<xs:element ref="CarrierProNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- InterlineCarrier elements -->
	<xs:complexType name="InterlineCarrierType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="RoutingSequenceCode"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="TransportationMethodCode" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PalletInformation elements -->
	<xs:complexType name="PalletInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityOfPalletsShipped" minOccurs="0"/>
					<xs:element ref="PalletExchangeCode" minOccurs="0"/>
					<xs:element ref="PalletWeightUnitCode" minOccurs="0"/>
					<xs:element ref="PalletWeight" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousCertification elements -->
	<xs:complexType name="HazardousCertificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="HazardName" minOccurs="0"/>
					<xs:element ref="HazardCertificationCode" minOccurs="0"/>
					<xs:element ref="HazardCertificationDecl1" minOccurs="0"/>
					<xs:element ref="HazardCertificationDecl2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BillOfLadingHandling elements -->
	<xs:complexType name="BillOfLadingHandlingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="SpecialServicesCode" minOccurs="0"/>
					<xs:element ref="SpecialHandlingDescription" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Equipment elements -->
	<xs:complexType name="EquipmentType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierEquipmentInitial" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="TareWeight" minOccurs="0"/>
					<xs:element ref="WeightAllowance" minOccurs="0"/>
					<xs:element ref="Dunnage" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="OwnershipCode" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="EquipmentLength" minOccurs="0"/>
					<xs:element ref="EquipmentCheckDigit" minOccurs="0"/>
					<xs:element ref="ServiceTypeCode" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
					<xs:element ref="LoadDeviceCode" minOccurs="0"/>
					<xs:element ref="HoseType" minOccurs="0"/>
					<xs:element ref="Diameter" minOccurs="0"/>
					<xs:element ref="InletOutletMaterialCode" minOccurs="0"/>
					<xs:element ref="MiscEquipmentCode" minOccurs="0"/>
					<xs:element ref="NumberTankCompartments" minOccurs="0"/>
					<xs:element ref="LoadingDischargeLocation" minOccurs="0"/>
					<xs:element ref="VesselMaterialCode" minOccurs="0"/>
					<xs:element ref="GasketType" minOccurs="0"/>
					<xs:element ref="TrailerLiningCode" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
					<xs:element ref="SealNumber1" minOccurs="0"/>
					<xs:element ref="SealNumber2" minOccurs="0"/>
					<xs:element ref="SealNumber3" minOccurs="0"/>
					<xs:element ref="SealNumber4" minOccurs="0"/>
					<xs:element ref="EntityIDCode1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Details dataset definition-->
	<xs:complexType name="DetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Detail" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Detail group definition-->
	<xs:complexType name="DetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="CarrierDetail"/>
					<xs:element ref="ShipmentWeightAndPackagingAndQuantity" minOccurs="0"/>
					<xs:element ref="PalletInformation" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="LadingDetail" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="BillOfLadingHandling" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Equipment" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Containers" minOccurs="0"/>
					<xs:element ref="Orders" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  CarrierDetail elements -->
	<xs:complexType name="CarrierDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="StopSequenceNumber"/>
					<xs:element ref="StopReasonCode"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="StandardPointLocationCode" minOccurs="0"/>
					<xs:element ref="AccomplishCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  ShipmentWeightAndPackagingAndQuantity elements -->
	<xs:complexType name="ShipmentWeightAndPackagingAndQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity2" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LadingDetail elements -->
	<xs:complexType name="LadingDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PackagingFormCode" minOccurs="0"/>
					<xs:element ref="LadingQuantity" minOccurs="0"/>
					<xs:element ref="WeightUnitCode1" minOccurs="0"/>
					<xs:element ref="Weight1" minOccurs="0"/>
					<xs:element ref="WeightUnitCode2" minOccurs="0"/>
					<xs:element ref="Weight2" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier1" minOccurs="0"/>
					<xs:element ref="PartNumber1" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier2" minOccurs="0"/>
					<xs:element ref="PartNumber2" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier3" minOccurs="0"/>
					<xs:element ref="PartNumber3" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Containers dataset definition-->
	<xs:complexType name="ContainersType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Container" maxOccurs="99"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Containerl group definition-->
	<xs:complexType name="ContainerType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="MarksAndNumbers" minOccurs="0"/>
					<xs:element ref="ShipmentWeightAndPackagingAndQuantity" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="HazardousInformations" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  MarksAndNumbers elements -->
	<xs:complexType name="MarksAndNumbersType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LadingLineItemNumber" minOccurs="0"/>
					<xs:element ref="LadingDescription" minOccurs="0"/>
					<xs:element ref="CommodityCode1" minOccurs="0"/>
					<xs:element ref="CommodityCodeQual1" minOccurs="0"/>
					<xs:element ref="PackagingCode" minOccurs="0"/>
					<xs:element ref="MarksAndNumbers1" minOccurs="0"/>
					<xs:element ref="MarksAndNumbersQual1" minOccurs="0"/>
					<xs:element ref="CommodityCodeQual2" minOccurs="0"/>
					<xs:element ref="CommodityCode2" minOccurs="0"/>
					<xs:element ref="CompartmentIDCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Orders dataset definition-->
	<xs:complexType name="OrdersType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="Order" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Container group definition-->
	<xs:complexType name="OrderType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="OrderDetailLine"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="LadingDetail" minOccurs="0" maxOccurs="999"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Containers" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--OrderDetailLine elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="OrderDetailLineType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="ReferenceID1" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="ReferenceID2" minOccurs="0"/>
			<xs:element ref="PackagingFormCode" minOccurs="0"/>
			<xs:element ref="Quantity1" minOccurs="0"/>
			<xs:element ref="WeightUnitCode1" minOccurs="0"/>
			<xs:element ref="Weight1" minOccurs="0"/>
			<xs:element ref="VolumeUOM" minOccurs="0"/>
			<xs:element ref="Volume" minOccurs="0"/>
			<xs:element ref="ApplicationErrorCode" minOccurs="0"/>
			<xs:element ref="ReferenceID3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--  HazardousInformations dataset definition-->
	<xs:complexType name="HazardousInformationsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="HazardousInformation" maxOccurs="99"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  HazardousInformation group definition-->
	<xs:complexType name="HazardousInformationType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Contact" minOccurs="0"/>
					<xs:element ref="HazardousCertification" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="HazardousIdentification" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="HazardousDetail" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousIdentification elements -->
	<xs:complexType name="HazardousIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="UnitOfMeasure1"/>
					<xs:element ref="LadingQuantity"/>
					<xs:element ref="IdentificationCode" minOccurs="0"/>
					<xs:element ref="HazardousMaterialPage" minOccurs="0"/>
					<xs:element ref="CommodityCode1" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure2" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="CompartmentIDCode" minOccurs="0"/>
					<xs:element ref="ResidueIndicatorCode" minOccurs="0"/>
					<xs:element ref="PackingGroupCode" minOccurs="0"/>
					<xs:element ref="InterimRegulatoryNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HazardousDetail elements -->
	<xs:complexType name="HazardousDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="HazardousMaterialClassification1" minOccurs="0"/>
					<xs:element ref="HazardousClassQualifier" minOccurs="0"/>
					<xs:element ref="HazardousPlacardNotation1" minOccurs="0"/>
					<xs:element ref="HazardousEndorsement1" minOccurs="0"/>
					<xs:element ref="ReportableQuantityCode" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure1" minOccurs="0"/>
					<xs:element ref="Temperature1" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure2" minOccurs="0"/>
					<xs:element ref="Temperature2" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure3" minOccurs="0"/>
					<xs:element ref="Temperature3" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="NetExplosiveWeight" minOccurs="0"/>
					<xs:element ref="HazardousMaterialQual1" minOccurs="0"/>
					<xs:element ref="HazardousMaterialName" minOccurs="0"/>
					<xs:element ref="NOSIndicatorCode" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse" minOccurs="0"/>
					<xs:element ref="HazardousMaterialQual2" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc1" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc2" minOccurs="0"/>
					<xs:element ref="HazardZoneCode" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="EPAWaterStreamNumberCode" minOccurs="0"/>
					<xs:element ref="WaterCharacteristicsCode" minOccurs="0"/>
					<xs:element ref="StateProvinceCode" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="EmergencyResponsePlanNumber" minOccurs="0"/>
					<xs:element ref="CommunicationNumber1" minOccurs="0"/>
					<xs:element ref="PackingGroupCode" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification1" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification2" minOccurs="0"/>
					<xs:element ref="SubsidiaryClassification3" minOccurs="0"/>
					<xs:element ref="SubsidiaryRiskIndicator" minOccurs="0"/>
					<xs:element ref="NetExplosiveQty" minOccurs="0"/>
					<xs:element ref="CanadianHazardousNotation" minOccurs="0"/>
					<xs:element ref="SpecialCommodityIndicatorCode" minOccurs="0"/>
					<xs:element ref="CommunicationNumber2" minOccurs="0"/>
					<xs:element ref="NetExplosiveQtyUOM" minOccurs="0"/>
					<xs:element ref="HazardousMaterialClassification2" minOccurs="0"/>
					<xs:element ref="HazardousPlacardNotation2" minOccurs="0"/>
					<xs:element ref="HazardousEndorsement2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="FreightRate" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier1" minOccurs="0"/>
					<xs:element ref="Charge" minOccurs="0"/>
					<xs:element ref="Advances" minOccurs="0"/>
					<xs:element ref="PrepaidAmount" minOccurs="0"/>
					<xs:element ref="ChargeOrAllowanceCode" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeUnitCode" minOccurs="0"/>
					<xs:element ref="LadingQuantity" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="TariffNumber" minOccurs="0"/>
					<xs:element ref="DeclaredValue" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
