SIP/Schemas/7.0.2/DirectStoreDeliverySummaryInformations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML Invoice(EDIDOC 882)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: May 1, 2009

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level elements -->
	<xs:element name="ChargesAllowancesDescription" type="ChargesAllowancesDescriptionType"/>
	<xs:element name="ChargesAllowancesDetail" type="ChargesAllowancesDetailType"/>
	<xs:element name="ChargesAllowancesDetails" type="ChargesAllowancesDetailsType"/>
	<xs:element name="DirectStoreDeliverySummaryInformation" type="DirectStoreDeliverySummaryInformationType"/>
	<xs:element name="FOBInformation" type="FOBInformationType"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Identification" type="IdentificationType"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="MonetaryAmount1" type="xs:decimal"/>
	<xs:element name="MonetaryAmount2" type="xs:decimal"/>
	<xs:element name="MonetaryAmount3" type="xs:decimal"/>
	<xs:element name="NumberOfUnitsShipped" type="xs:int"/>
	<xs:element name="NumberOfUnitsShippedUOM" type="xs:string"/>
	<xs:element name="OrderSizingFactor" type="xs:string"/>
	<xs:element name="PriceBracketID" type="xs:string"/>
	<xs:element name="ReferenceIdentifications" type="ReferenceIdentificationsType"/>
	<xs:element name="ReferenceID1" type="xs:string"/>
	<xs:element name="ReferenceID2" type="xs:string"/>
	<xs:element name="ReferenceID3" type="xs:string"/>
	<xs:element name="ReferenceID4" type="xs:string"/>
	<xs:element name="ReferenceQual1" type="xs:string"/>
	<xs:element name="ReferenceQual2" type="xs:string"/>
	<xs:element name="ReferenceQual3" type="xs:string"/>
	<xs:element name="ReferenceQual4" type="xs:string"/>
	<xs:element name="StatementHeader" type="StatementHeaderType"/>
	<xs:element name="StoreNumber" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TotalDollarsSummary" type="TotalDollarsSummaryType"/>
	<xs:element name="TotalInvoiceQuantity" type="TotalInvoiceQuantityType"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TotalWeightUOM" type="xs:string"/>
	<xs:element name="TotalVolume" type="xs:decimal"/>
	<xs:element name="TotalVolumeUOM" type="xs:string"/>
	<xs:element name="VendorOrderNumber" type="xs:string"/>
	<xs:element name="DirectStoreDeliverySummaryInformations">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML DirectStoreDeliverySummaryInformations schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DirectStoreDeliverySummaryInformation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="DirectStoreDeliverySummaryInformationType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="StatementHeader"/>
					<xs:element ref="Address" maxOccurs="10"/>
					<xs:element ref="ReferenceIdentifications" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="8"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:complexType name="StatementHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="Date1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferenceIdentificationsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceQual1"/>
					<xs:element ref="ReferenceID1" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="ReferenceQual2" minOccurs="0"/>
					<xs:element ref="ReferenceID2" minOccurs="0"/>
					<xs:element ref="ReferenceQual3" minOccurs="0"/>
					<xs:element ref="ReferenceID3" minOccurs="0"/>
					<xs:element ref="ReferenceQual4" minOccurs="0"/>
					<xs:element ref="ReferenceID4" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItems elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Identification"/>
					<xs:element ref="ChargesAllowancesDetails" minOccurs="0"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="FOBInformation" minOccurs="0"/>
					<xs:element ref="TotalInvoiceQuantity" minOccurs="0"/>
					<xs:element ref="TotalDollarsSummary"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="IdentificationType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="InvoiceNumber" minOccurs="0"/>
			<xs:element ref="Date1" minOccurs="0"/>
			<xs:element ref="StoreNumber" minOccurs="0"/>
			<xs:element ref="Date2" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="VendorOrderNumber" minOccurs="0"/>
			<xs:element ref="ReferenceQual" minOccurs="0"/>
			<xs:element ref="ReferenceID" minOccurs="0"/>
			<xs:element ref="Date3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChargesAllowancesDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ChargesAllowancesDetail" maxOccurs="99"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="ChargesAllowancesDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ChargesAllowances"/>
					<xs:element ref="ChargesAllowancesDescription" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChargesAllowancesDescriptionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="Description"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FOBInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:group ref="FOB"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TotalInvoiceQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="NumberOfUnitsShipped"/>
					<xs:element ref="NumberOfUnitsShippedUOM"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="TotalWeightUOM" minOccurs="0"/>
					<xs:element ref="TotalVolume" minOccurs="0"/>
					<xs:element ref="TotalVolumeUOM" minOccurs="0"/>
					<xs:element ref="OrderSizingFactor" minOccurs="0"/>
					<xs:element ref="PriceBracketID" minOccurs="0"/>
					<xs:element ref="PaymentMethodCode" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TotalDollarsSummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalAmount"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MonetaryAmount1"/>
					<xs:element ref="MonetaryAmount2" minOccurs="0"/>
					<xs:element ref="MonetaryAmount3" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
