SIP/Schemas/7.0.2/LogisticsServiceResponses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML LogisticsServiceResponse (EDIDOC 220)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce.

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, 
THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR 
WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE. 
THE USE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: January 1, 2012

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="AccomplishCode" type="xs:string"/>
	<xs:element name="Advances" type="xs:int"/>
	<xs:element name="AssignedNumber" type="xs:string"/>
	<xs:element name="BillOfLadingHandling" type="BillOfLadingHandlingType"/>
	<xs:element name="BilledOrRateAsQuantity" type="xs:decimal"/>
	<xs:element name="BilledOrRateAsQualifier" type="xs:string"/>
	<xs:element name="BusinessInstruction" type="BusinessInstructionType"/>
	<xs:element name="CarrierDetail" type="CarrierDetailType"/>
	<xs:element name="CarType" type="xs:string"/>
	<xs:element name="Charge" type="xs:int"/>
	<xs:element name="ChargeDetail" type="ChargeDetailType"/>
	<xs:element name="ChargeMethodOfPayment" type="xs:string"/>
	<xs:element name="ChargeOrAllowanceCode" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="ContainerTracking" type="ContainerTrackingType"/>
	<xs:element name="DeclaredValue" type="xs:int"/>
	<xs:element name="Diameter" type="xs:decimal"/>
	<xs:element name="Diameter2" type="xs:decimal"/>
	<xs:element name="Diameter3" type="xs:decimal"/>
	<xs:element name="Dunnage" type="xs:int"/>
	<xs:element name="EntityIDCode1" type="xs:string"/>
	<xs:element name="EquipmentCheckDigit" type="xs:int"/>
	<xs:element name="EquipmentDetail" type="EquipmentDetailType"/>
	<xs:element name="EquipmentInformation" type="EquipmentInformationType"/>
	<xs:element name="EquipmentLength" type="xs:int"/>
	<xs:element name="FittingTypeCode" type="xs:string"/>
	<xs:element name="FreightRate" type="xs:decimal"/>
	<xs:element name="GasketType" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Height" type="xs:decimal"/>
	<xs:element name="HoseType" type="xs:string"/>
	<xs:element name="InletOutletMaterialCode" type="xs:string"/>
	<xs:element name="InterlineCarrier" type="InterlineCarrierType"/>
	<xs:element name="ItemDetail" type="ItemDetailType"/>
	<xs:element name="ItemDetails" type="ItemDetailsType"/>
	<xs:element name="LadingDetail" type="LadingDetailType"/>
	<xs:element name="Length" type="xs:decimal"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItemSubtotal" type="LineItemSubtotalType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="LoadDeviceCode" type="xs:string"/>
	<xs:element name="LocationDescription" type="LocationDescriptionType"/>
	<xs:element name="LoadingDischargeLocation" type="xs:string"/>
	<xs:element name="Measurements" type="MeasurementsType"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:decimal"/>
	<xs:element name="MiscEquipmentCode" type="xs:string"/>
	<xs:element name="MonetaryAmounts" type="MonetaryAmountsType"/>
	<xs:element name="LogisticsServiceResponse" type="LogisticsServiceResponseType"/>
	<xs:element name="NumberTankCompartments" type="xs:int"/>
	<xs:element name="OrderHeader" type="OrderHeaderType"/>
	<xs:element name="PackagingFormCode" type="xs:string"/>
	<xs:element name="PalletExchangeCode" type="xs:string"/>
	<xs:element name="PartDescription" type="PartDescriptionType"/>
	<xs:element name="Position" type="xs:string"/>
	<xs:element name="PrepaidAmount" type="xs:int"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="RateInformation" type="RateInformationType"/>
	<xs:element name="RateOrValueQualifier" type="xs:string"/>
	<xs:element name="RateOrValueQualifier1" type="xs:string"/>
	<xs:element name="RateOrValueQualifier2" type="xs:string"/>
	<xs:element name="RateValueQualifier" type="xs:string"/>
	<xs:element name="SealNumber1" type="xs:string"/>
	<xs:element name="SealNumber2" type="xs:string"/>
	<xs:element name="SealNumber3" type="xs:string"/>
	<xs:element name="SealNumber4" type="xs:string"/>
	<xs:element name="ServiceRequest" type="ServiceRequestType"/>
	<xs:element name="ServiceRequestCode" type="xs:string"/>
	<xs:element name="ServiceTypeCode" type="xs:string"/>
	<xs:element name="ShipmentMethodOfPayment" type="xs:string"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="SpecialHandlingDescription" type="xs:string"/>
	<xs:element name="SpecialServicesCode" type="xs:string"/>
	<xs:element name="StandardPointLocationCode" type="xs:string"/>
	<xs:element name="StopReasonCode" type="xs:string"/>
	<xs:element name="StopSequenceNumber" type="xs:int"/>
	<xs:element name="TotalWeightAndCharges" type="TotalWeightAndChargesType"/>
	<xs:element name="TrackingDetail" type="TrackingDetailType"/>
	<xs:element name="TrackingDetails" type="TrackingDetailsType"/>
	<xs:element name="TareQualifier" type="xs:string"/>
	<xs:element name="TareWeight" type="xs:int"/>
	<xs:element name="TariffNumber" type="xs:string"/>
	<xs:element name="Temperature1" type="xs:decimal"/>
	<xs:element name="Temperature2" type="xs:decimal"/>
	<xs:element name="TemperatureControl" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TrailerLiningCode" type="xs:string"/>
	<xs:element name="TransportationMethodCode" type="xs:string"/>
	<xs:element name="VesselMaterialCode" type="xs:string"/>
	<xs:element name="Weight1" type="xs:decimal"/>
	<xs:element name="Weight2" type="xs:decimal"/>
	<xs:element name="WeightAllowance" type="xs:int"/>
	<xs:element name="WeightUnitCode1" type="xs:string"/>
	<xs:element name="WeightUnitCode2" type="xs:string"/>
	<xs:element name="Width" type="xs:decimal"/>
	<!-- top level elements -->
	<xs:element name="LogisticsServiceResponses">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML LogisticsServiceResponses schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogisticsServiceResponse" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- LogisticsServiceResponse elements -->
	<xs:complexType name="LogisticsServiceResponseType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="OrderHeader"/>
					<xs:element ref="BusinessInstruction" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="InterlineCarrier" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="RateInformation" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="EquipmentDetail" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OrderHeader elements -->
	<xs:complexType name="OrderHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode"/>
					<xs:element ref="ShipmentMethodOfPayment"/>
					<xs:element ref="ServiceRequest" maxOccurs="7"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ServiceRequest elements -->
	<xs:complexType name="ServiceRequestType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ServiceRequestCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BusinessInstructions record definition -->
	<xs:complexType name="BusinessInstructionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceQual" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- InterlineCarrier elements -->
	<xs:complexType name="InterlineCarrierType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="RoutingSequenceCode"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="TransportationMethodCode" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- RateInformation elements -->
	<xs:complexType name="RateInformationType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="LocationDescription" minOccurs="0"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="LineItemSubtotal" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ChargeDetail" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="TotalWeightAndCharges" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LocationDescription elements -->
	<xs:complexType name="LocationDescriptionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AssignedID"/>
					<xs:element ref="AddressTypeCode" minOccurs="0"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="LocationCodeQualifier" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItemSubtotal elements -->
	<xs:complexType name="LineItemSubtotalType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="BilledOrRateAsQuantity" minOccurs="0"/>
					<xs:element ref="BilledOrRateAsQualifier" minOccurs="0"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="FreightRate" minOccurs="0"/>
					<xs:element ref="RateValueQualifier" minOccurs="0"/>
					<xs:element ref="Amount" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="ChargeMethodOfPayment" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  ChargeDetail elements -->
	<xs:complexType name="ChargeDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AllowChrgCode" minOccurs="0"/>
					<xs:element ref="AllowChrgAmt" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--TotalWeightAndCharges elements -->
	<xs:complexType name="TotalWeightAndChargesType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="FreightRate" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier1" minOccurs="0"/>
					<xs:element ref="Charge" minOccurs="0"/>
					<xs:element ref="Advances" minOccurs="0"/>
					<xs:element ref="PrepaidAmount" minOccurs="0"/>
					<xs:element ref="ChargeOrAllowanceCode" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeUnitCode" minOccurs="0"/>
					<xs:element ref="LadingQuantity" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="TariffNumber" minOccurs="0"/>
					<xs:element ref="DeclaredValue" minOccurs="0"/>
					<xs:element ref="RateOrValueQualifier2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- EquipmentDetail elements -->
	<xs:complexType name="EquipmentDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="EquipmentInformation" minOccurs="0"/>
					<xs:element ref="Measurements" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  EquipmentInformation elements -->
	<xs:complexType name="EquipmentInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierEquipmentInitial" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="TareWeight" minOccurs="0"/>
					<xs:element ref="WeightAllowance" minOccurs="0"/>
					<xs:element ref="Dunnage" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="OwnershipCode" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode1" minOccurs="0"/>
					<xs:element ref="TemperatureControl" minOccurs="0"/>
					<xs:element ref="Position" minOccurs="0"/>
					<xs:element ref="EquipmentLength" minOccurs="0"/>
					<xs:element ref="TareQualifier" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="EquipmentCheckDigit" minOccurs="0"/>
					<xs:element ref="ServiceTypeCode" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
					<xs:element ref="EquipmentType" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode2" minOccurs="0"/>
					<xs:element ref="CarType" minOccurs="0"/>
					<xs:element ref="LoadDeviceCode" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
					<xs:element ref="Diameter" minOccurs="0"/>
					<xs:element ref="HoseType" minOccurs="0"/>
					<xs:element ref="Diameter2" minOccurs="0"/>
					<xs:element ref="Diameter3" minOccurs="0"/>
					<xs:element ref="InletOutletMaterialCode" minOccurs="0"/>
					<xs:element ref="FittingTypeCode" minOccurs="0"/>
					<xs:element ref="MiscEquipmentCode" minOccurs="0"/>
					<xs:element ref="NumberTankCompartments" minOccurs="0"/>
					<xs:element ref="LoadingDischargeLocation" minOccurs="0"/>
					<xs:element ref="VesselMaterialCode" minOccurs="0"/>
					<xs:element ref="GasketType" minOccurs="0"/>
					<xs:element ref="TrailerLiningCode" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="SealNumber1" minOccurs="0"/>
					<xs:element ref="SealNumber2" minOccurs="0"/>
					<xs:element ref="SealNumber3" minOccurs="0"/>
					<xs:element ref="SealNumber4" minOccurs="0"/>
					<xs:element ref="EntityIDCode1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Measurements element -->
	<xs:complexType name="MeasurementsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItems elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="99"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="CarrierDetail"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="BusinessInstruction" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Address" minOccurs="0"/>
					<xs:element ref="TrackingDetails" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  CarrierDetail elements -->
	<xs:complexType name="CarrierDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="StopSequenceNumber"/>
					<xs:element ref="StopReasonCode"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="StandardPointLocationCode" minOccurs="0"/>
					<xs:element ref="AccomplishCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  TrackingDetails elements -->
	<xs:complexType name="TrackingDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="TrackingDetail" maxOccurs="99"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- TrackingDetail elements -->
	<xs:complexType name="TrackingDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="MarksAndNumbersCollection"/>
					<xs:element ref="ContainerTracking" minOccurs="0"/>
					<xs:element ref="BillOfLadingHandling" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="MonetaryAmounts" minOccurs="0"/>
					<xs:element ref="BusinessInstruction" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="ItemDetails" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ContainerTracking elements -->
	<xs:complexType name="ContainerTrackingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceID"/>
					<xs:element ref="PackagingFormCode"/>
					<xs:element ref="Description"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
					<xs:element ref="Width"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="VolumeUOM" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="PalletExchangeCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- BillOfLadingHandling elements -->
	<xs:complexType name="BillOfLadingHandlingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="SpecialServicesCode" minOccurs="0"/>
					<xs:element ref="SpecialHandlingDescription" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="Temperature1" minOccurs="0"/>
					<xs:element ref="Temperature2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- MonetaryAmounts elements -->
	<xs:complexType name="MonetaryAmountsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier" minOccurs="0"/>
					<xs:element ref="MonetaryAmount" minOccurs="0"/>
					<xs:element ref="CreditDebitFlag" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemDetails elements -->
	<xs:complexType name="ItemDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ItemDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemDetail elements -->
	<xs:complexType name="ItemDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="LadingDetail" minOccurs="0"/>
					<xs:element ref="PhysicalDetails" minOccurs="0"/>
					<xs:element ref="PartDescription" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="BillOfLadingHandling" minOccurs="0" maxOccurs="6"/>
					<xs:element ref="MonetaryAmounts" minOccurs="0"/>
					<xs:element ref="BusinessInstruction" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LadingDetail elements -->
	<xs:complexType name="LadingDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PackagingFormCode" minOccurs="0"/>
					<xs:element ref="LadingQuantity" minOccurs="0"/>
					<xs:element ref="WeightUnitCode1" minOccurs="0"/>
					<xs:element ref="Weight1" minOccurs="0"/>
					<xs:element ref="WeightUnitCode2" minOccurs="0"/>
					<xs:element ref="Weight2" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier1" minOccurs="0"/>
					<xs:element ref="PartNumber1" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier2" minOccurs="0"/>
					<xs:element ref="PartNumber2" minOccurs="0"/>
					<xs:element ref="PartNumberQualifier3" minOccurs="0"/>
					<xs:element ref="PartNumber3" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PartDescription element -->
	<xs:complexType name="PartDescriptionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PartDescription1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
