SIP/Schemas/7.0.2/MotorCarrierPackageStatuses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML MotorCarrierPackageStatuses (EDIDOC 240) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: November 22, 2008

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="AssignedNumber" type="xs:string"/>
	<xs:element name="BinaryData" type="BinaryDataType"/>
	<xs:element name="DataLength" type="xs:int"/>
	<xs:element name="BlockType" type="xs:string"/>
	<xs:element name="BlockLength" type="xs:int"/>
	<xs:element name="BusinessInstruction" type="BusinessInstructionType"/>
	<xs:element name="BusinessInstructions" type="BusinessInstructionsType"/>
	<xs:element name="CartonDetailLine" type="CartonDetailLineType"/>
	<xs:element name="Charge1" type="xs:string"/>
	<xs:element name="Charge2" type="xs:string"/>
	<xs:element name="CompressionTechnique" type="xs:string"/>
	<xs:element name="Data" type="xs:string"/>
	<xs:element name="DrawingSheetSizeCode" type="xs:string"/>
	<xs:element name="ElectronicFormatID" type="ElectronicFormatIDType"/>
	<xs:element name="EntityIdentifierCode" type="xs:string"/>
	<xs:element name="EntityIdentifierCode2" type="xs:string"/>
	<xs:element name="EntityTypeQual" type="xs:string"/>
	<xs:element name="EntityRelationshipCode" type="xs:string"/>
	<xs:element name="EquipmentNumberCheckDigit" type="xs:int"/>
	<xs:element name="EquipmentOrContainerOwner" type="EquipmentOrContainerOwnerType"/>
	<xs:element name="FileName" type="xs:string"/>
	<xs:element name="FilterIDCode" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="IDNumber" type="xs:string"/>
	<xs:element name="InterchangeFormat" type="xs:string"/>
	<xs:element name="LadingExceptionCode" type="xs:string"/>
	<xs:element name="LadingExceptionStatus" type="LadingExceptionStatusType"/>
	<xs:element name="LastOrgName" type="xs:string"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="LoopHeader" type="LoopHeaderType"/>
	<xs:element name="LoopIdentifierHeader" type="LoopIdentifierHeaderType"/>
	<xs:element name="LoopIDCode" type="xs:string"/>
	<xs:element name="LoopTrailer" type="LoopTrailerType"/>
	<xs:element name="MarksAndNumbersLineItem" type="MarksAndNumbersLineItemType"/>
	<xs:element name="MarksAndNumbersLineItems" type="MarksAndNumbersLineItemsType"/>
	<xs:element name="MotorCarrierPackageStatusHeader" type="MotorCarrierPackageStatusHeaderType"/>
	<xs:element name="MotorCarrierPackageStatus" type="MotorCarrierPackageStatusType"/>
	<xs:element name="NameFirst" type="xs:string"/>
	<xs:element name="NameMiddle" type="xs:string"/>
	<xs:element name="NamePrefix" type="xs:string"/>
	<xs:element name="NameSuffix" type="xs:string"/>
	<xs:element name="OrganizationalAddress" type="OrganizationalAddressType"/>
	<xs:element name="PackageFormCode" type="xs:string"/>
	<xs:element name="PickupOrDeliveryCode1" type="xs:string"/>
	<xs:element name="ProgramIdentifier" type="xs:string"/>
	<xs:element name="RateValueQualifier1" type="xs:string"/>
	<xs:element name="RateValueQualifier2" type="xs:string"/>
	<xs:element name="RecordLength" type="xs:int"/>
	<xs:element name="SecurityLevel" type="xs:string"/>
	<xs:element name="SecurityTechniqueCode" type="xs:string"/>
	<xs:element name="ServiceStandard" type="xs:string"/>
	<xs:element name="ShipmentOrderStatusCode1" type="xs:string"/>
	<xs:element name="ShipmentOrderStatusCode2" type="xs:string"/>
	<xs:element name="ShipmentStatus" type="ShipmentStatusType"/>
	<xs:element name="StatusReasonCode1" type="xs:string"/>
	<xs:element name="StatusReasonCode2" type="xs:string"/>
	<xs:element name="StopSequenceNumber" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TransactionSetLineNumber" type="TransactionSetLineNumberType"/>
	<xs:element name="BusinessReference" type="BusinessReferenceType"/>
	<xs:element name="TsetTypeCode" type="xs:string"/>
	<xs:element name="VersionIdentifier1" type="xs:string"/>
	<xs:element name="VersionIdentifier2" type="xs:string"/>
	<xs:element name="VersionIdentifier3" type="xs:string"/>
	<xs:element name="VersionIdentifier4" type="xs:string"/>
	<xs:element name="Weight1" type="xs:decimal"/>
	<xs:element name="WeightQualifier1" type="xs:string"/>
	<xs:element name="Zone" type="xs:string"/>
	<!-- top level elements -->
	<xs:element name="MotorCarrierPackageStatuses">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML MotorCarrierPackageStatuses schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MotorCarrierPackageStatus" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- MotorCarrierPackageStatus elements  -->
	<xs:complexType name="MotorCarrierPackageStatusType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements  -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="MotorCarrierPackageStatusHeader"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- MotorCarrierPackageStatusHeader elements  -->
	<xs:complexType name="MotorCarrierPackageStatusHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode"/>
					<xs:element ref="TsetTypeCode" minOccurs="0"/>
					<xs:element ref="Date1"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="SecurityLevel" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItems elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="TransactionSetLineNumber"/>
					<xs:element ref="Address" minOccurs="0"/>
					<xs:element ref="Notes" minOccurs="0"/>
					<xs:element ref="OrganizationalAddress" minOccurs="0"/>
					<xs:element ref="ElectronicFormatID" minOccurs="0"/>
					<xs:element ref="BinaryData" minOccurs="0"/>
					<xs:element ref="BusinessInstructions" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--TransactionSetLineNumber elements -->
	<xs:complexType name="TransactionSetLineNumberType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AssignedNumber"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OrganizationalAddress elements -->
	<xs:complexType name="OrganizationalAddressType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="EntityIdentifierCode" minOccurs="0"/>
					<xs:element ref="EntityTypeQual" minOccurs="0"/>
					<xs:element ref="LastOrgName" minOccurs="0"/>
					<xs:element ref="NameFirst" minOccurs="0"/>
					<xs:element ref="NameMiddle" minOccurs="0"/>
					<xs:element ref="NamePrefix" minOccurs="0"/>
					<xs:element ref="NameSuffix" minOccurs="0"/>
					<xs:element ref="LocationCodeQualifier" minOccurs="0"/>
					<xs:element ref="IDNumber" minOccurs="0"/>
					<xs:element ref="EntityRelationshipCode" minOccurs="0"/>
					<xs:element ref="EntityIdentifierCode2" minOccurs="0"/>
					<xs:element ref="AddressAlternateName" minOccurs="0"/>
					<xs:element ref="Address1" minOccurs="0"/>
					<xs:element ref="Address2" minOccurs="0"/>
					<xs:element ref="Address3" minOccurs="0"/>
					<xs:element ref="Address4" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="PostalCode" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="ContactName" minOccurs="0"/>
					<xs:element ref="ContactPhone" minOccurs="0"/>
					<xs:element ref="ContactFax" minOccurs="0"/>
					<xs:element ref="ContactEmail" minOccurs="0"/>
					<xs:element ref="AddressTaxIdNumber" minOccurs="0"/>
					<xs:element ref="AddressTaxExemptNumber" minOccurs="0"/>
					<xs:element ref="AddressAlternateName2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ElectronicFormatID elements -->
	<xs:complexType name="ElectronicFormatIDType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SecurityLevel" minOccurs="0"/>
					<xs:element ref="NoteInformationField" minOccurs="0"/>
					<xs:element ref="SecurityTechniqueCode" minOccurs="0"/>
					<xs:element ref="VersionIdentifier1" minOccurs="0"/>
					<xs:element ref="ProgramIdentifier" minOccurs="0"/>
					<xs:element ref="VersionIdentifier2" minOccurs="0"/>
					<xs:element ref="InterchangeFormat" minOccurs="0"/>
					<xs:element ref="VersionIdentifier3" minOccurs="0"/>
					<xs:element ref="CompressionTechnique" minOccurs="0"/>
					<xs:element ref="DrawingSheetSizeCode" minOccurs="0"/>
					<xs:element ref="FileName" minOccurs="0"/>
					<xs:element ref="BlockType" minOccurs="0"/>
					<xs:element ref="RecordLength" minOccurs="0"/>
					<xs:element ref="BlockLength" minOccurs="0"/>
					<xs:element ref="VersionIdentifier4" minOccurs="0"/>
					<xs:element ref="FilterIDCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--BinaryData elements -->
	<xs:complexType name="BinaryDataType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="DataLength" minOccurs="0"/>
					<xs:element ref="Data" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  BusinessInstructions elements -->
	<xs:complexType name="BusinessInstructionsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="BusinessInstruction" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  BusinessInstruction elements -->
	<xs:complexType name="BusinessInstructionType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="BusinessReference"/>
					<xs:element ref="EquipmentOrContainerOwner" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ElectronicFormatID" minOccurs="0"/>
					<xs:element ref="BinaryData" minOccurs="0"/>
					<xs:element ref="LoopHeader" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--BusinessReference elements -->
	<xs:complexType name="BusinessReferenceType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceQual" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--EquipmentOrContainerOwner elements -->
	<xs:complexType name="EquipmentOrContainerOwnerType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="CarrierEquipmentNumber" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="EquipmentNumberCheckDigit" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LoopHeader elements -->
	<xs:complexType name="LoopHeaderType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="LoopIdentifierHeader" minOccurs="0"/>
					<xs:element ref="MarksAndNumbersLineItems" minOccurs="0"/>
					<xs:element ref="LoopTrailer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  MarksAndNumbersLineItems elements -->
	<xs:complexType name="MarksAndNumbersLineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="MarksAndNumbersLineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  MarksAndNumbersLineItem elements -->
	<xs:complexType name="MarksAndNumbersLineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="MarksAndNumbersCollection" minOccurs="0"/>
					<xs:element ref="BusinessReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ShipmentStatus" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="CartonDetailLine" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="OrganizationalAddress" minOccurs="0"/>
					<xs:element ref="LadingExceptionStatus" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LoopHeader elements -->
	<xs:complexType name="LoopIdentifierHeaderType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LoopIDCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipmentStatus elements -->
	<xs:complexType name="ShipmentStatusType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ShipmentOrderStatusCode1" minOccurs="0"/>
					<xs:element ref="StatusReasonCode1" minOccurs="0"/>
					<xs:element ref="ShipmentOrderStatusCode2" minOccurs="0"/>
					<xs:element ref="StatusReasonCode2" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--CartonDetailLine elements -->
	<xs:complexType name="CartonDetailLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="WeightQualifier1" minOccurs="0"/>
					<xs:element ref="Weight1" minOccurs="0"/>
					<xs:element ref="Zone" minOccurs="0"/>
					<xs:element ref="ServiceStandard" minOccurs="0"/>
					<xs:element ref="ServiceLevelCode1" minOccurs="0"/>
					<xs:element ref="PickupOrDeliveryCode1" minOccurs="0"/>
					<xs:element ref="RateValueQualifier1" minOccurs="0"/>
					<xs:element ref="Charge1" minOccurs="0"/>
					<xs:element ref="RateValueQualifier2" minOccurs="0"/>
					<xs:element ref="Charge2" minOccurs="0"/>
					<xs:element ref="ServiceLevelCode2" minOccurs="0"/>
					<xs:element ref="ServiceLevelCode3" minOccurs="0"/>
					<xs:element ref="PaymentMethodCode" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LadingExceptionStatus elements -->
	<xs:complexType name="LadingExceptionStatusType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LadingExceptionCode" minOccurs="0"/>
					<xs:element ref="PackageFormCode" minOccurs="0"/>
					<xs:element ref="LadingQuantity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LoopTrailer elements -->
	<xs:complexType name="LoopTrailerType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LoopIDCode"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType"/>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
