SIP/Schemas/7.0.2/PriceAuthorizationAcknowledgments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML PriceAuthorizationAcknowledgments(EDIDOC 845)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: December 10, 2009

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!--element names -->
	<xs:element name="ChangeOrResponseTypeCode" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="ContractDetail" type="ContractDetailType"/>
	<xs:element name="ContractNumber" type="xs:string"/>
	<xs:element name="ContractNumber1" type="xs:string"/>
	<xs:element name="ContractNumber2" type="xs:string"/>
	<xs:element name="ContractNumber3" type="xs:string"/>
	<xs:element name="ContractNumber4" type="xs:string"/>
	<xs:element name="ContractQualifier1" type="xs:string"/>
	<xs:element name="ContractQualifier2" type="xs:string"/>
	<xs:element name="ContractQualifier3" type="xs:string"/>
	<xs:element name="ContractQualifier4" type="xs:string"/>
	<xs:element name="ContractStatusCode" type="xs:string"/>
	<xs:element name="EndDate" type="xs:date"/>
	<xs:element name="EndTime" type="xs:time"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventTypeInformation" type="xs:string"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="ItemIdentification" type="ItemIdentificationType"/>
	<xs:element name="ItemIdentificationDetail" type="ItemIdentificationDetailType"/>
	<xs:element name="ItemQuantity" type="ItemQuantityType"/>
	<xs:element name="KitSerialLot" type="KitSerialLotType"/>
	<xs:element name="LotExpirationDate" type="xs:date"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="MaintenanceType" type="MaintenanceTypeType"/>
	<xs:element name="MaintenanceTypeCode" type="xs:string"/>
	<xs:element name="ManufacturersNumber" type="xs:string"/>
	<xs:element name="Measurements" type="MeasurementsType"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:decimal"/>
	<xs:element name="OrderNumber" type="xs:string"/>
	<xs:element name="PreviousContractNumber" type="xs:string"/>
	<xs:element name="PriceAuthorizationAcknowledgment" type="PriceAuthorizationAcknowledgmentType"/>
	<xs:element name="PriceAuthorizationHeader" type="PriceAuthorizationHeaderType"/>
	<xs:element name="Pricing" type="PricingType"/>
	<xs:element name="PricingDetail" type="PricingDetailType"/>
	<xs:element name="PricingDetails" type="PricingDetailsType"/>
	<xs:element name="ProductAdjustmentDetail" type="ProductAdjustmentDetailType"/>
	<xs:element name="ProductAdjustmentDetails" type="ProductAdjustmentDetailsType"/>
	<xs:element name="ProductDetail" type="ProductDetailType"/>
	<xs:element name="QtyPer" type="xs:decimal"/>
	<xs:element name="QtyPerUOM" type="xs:string"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="RevisionNumber" type="xs:string"/>
	<xs:element name="PriceQuoteNumber" type="xs:string"/>
	<xs:element name="SerialLotEffectiveDate" type="xs:date"/>
	<xs:element name="SerialLotNumber" type="xs:string"/>
	<xs:element name="SerialLotNumberInformation" type="xs:string"/>
	<xs:element name="SerialWarrantyDate" type="xs:date"/>
	<xs:element name="ShipRcvDate" type="xs:date"/>
	<xs:element name="ShipRcvQty" type="xs:decimal"/>
	<xs:element name="ShipRecvQualifier" type="xs:string"/>
	<xs:element name="ShipRcvTime" type="xs:time"/>
	<xs:element name="ShippedReceiveLine" type="ShippedReceiveLineType"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TicketType" type="xs:string"/>
	<xs:element name="TicketTypeInformation" type="xs:string"/>
	<xs:element name="TotalAmountType" type="xs:string"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalQuantity" type="xs:decimal"/>
	<xs:element name="TotalVolume" type="xs:decimal"/>
	<xs:element name="TotalVolumeUOM" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TotalWeightUOM" type="xs:string"/>
	<xs:element name="TrackingNumber" type="xs:string"/>
	<xs:element name="TransferTypeCode" type="xs:string"/>
	<xs:element name="VendorContractNumber" type="xs:string"/>
	<!-- top level elements -->
	<xs:element name="PriceAuthorizationAcknowledgments">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML PriceAuthorizationAcknowledgments schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PriceAuthorizationAcknowledgment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PriceAuthorizationAcknowledgmentType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="PriceAuthorizationHeader"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PriceAuthorizationHeader elements -->
	<xs:complexType name="PriceAuthorizationHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode" minOccurs="0"/>
					<xs:element ref="ReferenceQual" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="ContractNumber" minOccurs="0"/>
					<xs:element ref="CustomerAccountNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItems elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ContractDetail"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="RestrictionsOrConditions" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ProductAdjustmentDetails" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ContractDetail elements -->
	<xs:complexType name="ContractDetailType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="ContractNumber" minOccurs="0"/>
			<xs:element ref="PromotionDealNumber" minOccurs="0"/>
			<xs:element ref="PriceQuoteNumber" minOccurs="0"/>
			<xs:element ref="VendorContractNumber" minOccurs="0"/>
			<xs:element ref="ContractQualifier1" minOccurs="0"/>
			<xs:element ref="ContractNumber1" minOccurs="0"/>
			<xs:element ref="ContractQualifier2" minOccurs="0"/>
			<xs:element ref="ContractNumber2" minOccurs="0"/>
			<xs:element ref="ContractQualifier3" minOccurs="0"/>
			<xs:element ref="ContractNumber3" minOccurs="0"/>
			<xs:element ref="ContractQualifier4" minOccurs="0"/>
			<xs:element ref="ContractNumber4" minOccurs="0"/>
			<xs:element ref="ContractStatusCode" minOccurs="0"/>
			<xs:element ref="PreviousContractNumber" minOccurs="0"/>
			<xs:element ref="TrackingNumber" minOccurs="0"/>
			<xs:element ref="OrderNumber" minOccurs="0"/>
			<xs:element ref="ManufacturersNumber" minOccurs="0"/>
			<xs:element ref="RevisionNumber" minOccurs="0"/>
		</xs:sequence>
		<!-- cannot derive from siprecord due to name conflicts -->
	</xs:complexType>
	<!-- ProductAdjustmentDetails elements -->
	<xs:complexType name="ProductAdjustmentDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ProductAdjustmentDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ProductAdjustmentDetail elements -->
	<xs:complexType name="ProductAdjustmentDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ProductDetail" minOccurs="0"/>
					<xs:element ref="ItemQuantity" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="ShippedReceiveLine" minOccurs="0"/>
					<xs:element ref="RestrictionsOrConditions" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="ProductOrItemDescription" minOccurs="0" maxOccurs="200"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="40"/>
					<xs:element ref="ItemIdentificationDetail" minOccurs="0"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PricingDetails" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ProductDetail element -->
	<xs:complexType name="ProductDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AssignedID" minOccurs="0"/>
					<xs:element ref="TransferTypeCode" minOccurs="0"/>
					<xs:element ref="ChangeOrResponseTypeCode" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="PriceMultiplierQual" minOccurs="0"/>
					<xs:element ref="PriceMultiplier" minOccurs="0"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ItemQuantity elements -->
	<xs:complexType name="ItemQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
					<xs:element ref="TotalAmountType" minOccurs="0"/>
					<xs:element ref="TotalAmount" minOccurs="0"/>
					<xs:element ref="CreditDebitFlag" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShippedReceiveLine elements -->
	<xs:complexType name="ShippedReceiveLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier" minOccurs="0"/>
					<xs:element ref="ShipRcvQty" minOccurs="0"/>
					<xs:element ref="ShipRecvQualifier" minOccurs="0"/>
					<xs:element ref="ShipRcvDate" minOccurs="0"/>
					<xs:element ref="ShipRcvTime" minOccurs="0"/>
					<xs:element ref="EndDate" minOccurs="0"/>
					<xs:element ref="EndTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Measurements element -->
	<xs:complexType name="MeasurementsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemIdentificationDetail elements -->
	<xs:complexType name="ItemIdentificationDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ItemIdentification" minOccurs="0"/>
					<xs:element ref="MaintenanceType" minOccurs="0"/>
					<xs:element ref="KitSerialLot" minOccurs="0" maxOccurs="100"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemIdentification elements -->
	<xs:complexType name="ItemIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- MaintenanceType elements -->
	<xs:complexType name="MaintenanceTypeType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MaintenanceTypeCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KitSerialLot element -->
	<xs:complexType name="KitSerialLotType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="QtyPer" minOccurs="0"/>
					<xs:element ref="QtyPerUOM" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="SerialLotNumber" minOccurs="0"/>
					<xs:element ref="SerialLotNumberInformation" minOccurs="0"/>
					<xs:element ref="SerialWarrantyDate" minOccurs="0"/>
					<xs:element ref="SerialLotEffectiveDate" minOccurs="0"/>
					<xs:element ref="LotExpirationDate" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PricingDetails elements -->
	<xs:complexType name="PricingDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="PricingDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ProductAdjustmentDetail elements -->
	<xs:complexType name="PricingDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Pricing" minOccurs="0"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="RestrictionsOrConditions" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Pricing element -->
	<xs:complexType name="PricingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:element ref="ClassOfTradeCode" minOccurs="0"/>
					<xs:element ref="PriceTypeIDCode" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="ItemQty" minOccurs="0"/>
					<xs:element ref="ItemQtyUOM" minOccurs="0"/>
					<xs:element ref="PriceMultiplierQual" minOccurs="0"/>
					<xs:element ref="PriceMultiplier" minOccurs="0"/>
					<xs:element ref="Amount" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="ConditionValue" minOccurs="0"/>
					<xs:element ref="MultiplePriceQuantity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--SummaryType elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalLineItemNumber" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="TotalWeightUOM" minOccurs="0"/>
					<xs:element ref="TotalVolume" minOccurs="0"/>
					<xs:element ref="TotalVolumeUOM" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
