SIP/Schemas/7.0.2/ProductTransfers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML ProductTransfer (EDIDOC 867, EDIFACT SLSRPT) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML Data Type Definition (DTD) and resultant XML Message as a service to its customers and partners. This DTD and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML DTD and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML DTD AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: Aug 17, 2007

	
COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this DTD and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!---->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="AgencyCode" type="xs:string"/>
	<xs:element name="BreakdownStructureCode" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="ContractNumber" type="xs:string"/>
	<xs:element name="DetailAddress" type="DetailAddressType"/>
	<xs:element name="DetailAddresses" type="DetailAddressesType"/>
	<xs:element name="FinancialAccountingData" type="FinancialAccountingDataType"/>
	<xs:element name="FinancialInformationCode" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="HeaderAddress" type="HeaderAddressType"/>
	<xs:element name="HeaderAddresses" type="HeaderAddressesType"/>
	<xs:element name="InternalOrderDate" type="xs:date"/>
	<xs:element name="InternalOrderNumber" type="xs:string"/>
	<xs:element name="ItemStatusCode" type="xs:string"/>
	<xs:element name="LineTransfer" type="LineTransferType"/>
	<xs:element name="LineTransfers" type="LineTransfersType"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="Measurements" type="MeasurementsType"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:decimal"/>
	<xs:element name="MessageInformationField1" type="xs:string"/>
	<xs:element name="MessageInformationField2" type="xs:string"/>
	<xs:element name="MessageInformationField3" type="xs:string"/>
	<xs:element name="MessageInformationField4" type="xs:string"/>
	<xs:element name="MessageInformationField5" type="xs:string"/>
	<xs:element name="MovementTypeCode" type="xs:string"/>
	<xs:element name="ProductTransfer" type="ProductTransferType"/>
	<xs:element name="ProductTransferHeader" type="ProductTransferHeaderType"/>
	<xs:element name="PurchaseOrderDate" type="xs:string"/>
	<xs:element name="QuantityType" type="xs:string"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="ReferenceStartDate" type="xs:date"/>
	<xs:element name="ReferenceEndDate" type="xs:date"/>
	<xs:element name="ReferenceIDQualifier" type="xs:string"/>
	<xs:element name="ReleaseNumber" type="xs:string"/>
	<xs:element name="RetailUnitPrice" type="xs:decimal"/>
	<xs:element name="SalesInformation" type="SalesInformationType"/>
	<xs:element name="SellerDateCode" type="xs:string"/>
	<xs:element name="ShipDeliveryDate" type="xs:date"/>
	<xs:element name="ShipDeliveryTime" type="xs:time"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalQuantity" type="xs:decimal"/>
	<xs:element name="TotalCartonCount" type="xs:int"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TotalVolume" type="xs:decimal"/>
	<xs:element name="Transfer" type="TransferType"/>
	<xs:element name="TransferLine" type="TransferLineType"/>
	<xs:element name="TransactionNumber" type="xs:string"/>
	<xs:element name="TransferTypeCode" type="xs:string"/>
	<!-- top level elements -->
	<xs:element name="ProductTransfers">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML ProductTransfers schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProductTransfer" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--Complex types-->
	<xs:complexType name="ProductTransferType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineTransfers"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="ProductTransferHeader"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="HeaderAddresses" minOccurs="0"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTransferHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="ReferenceDate" minOccurs="0"/>
					<xs:element ref="ReferenceStartDate" minOccurs="0"/>
					<xs:element ref="ReferenceEndDate" minOccurs="0"/>
					<xs:element ref="TransactionNumber" minOccurs="0"/>
					<xs:element ref="ReportTypeCode" minOccurs="0"/>
					<xs:element ref="TsetPurposeCode"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="BuyersCurrency" minOccurs="0"/>
					<xs:element ref="SellersCurrency" minOccurs="0"/>
					<xs:element ref="ContractNumber" minOccurs="0"/>
					<xs:element ref="InternalOrderNumber" minOccurs="0"/>
					<xs:element ref="InternalOrderDate" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="InvoiceNumber" minOccurs="0"/>
					<xs:element ref="CustomerAccountNumber" minOccurs="0"/>
					<xs:element ref="CustomerOrderNumber" minOccurs="0"/>
					<xs:element ref="ShipmentStatusCode" minOccurs="0"/>
					<xs:element ref="CarrierProNumber" minOccurs="0"/>
					<xs:element ref="BillOfLadingNumber" minOccurs="0"/>
					<xs:element ref="ShipDate" minOccurs="0"/>
					<xs:element ref="ShipDeliveryDate" minOccurs="0"/>
					<xs:element ref="ShipDeliveryTime" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderAddressesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="HeaderAddress" maxOccurs="5"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderAddressType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Address"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="12"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineTransfersType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineTransfer" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineTransferType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Transfer"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="DetailAddresses" minOccurs="0"/>
					<xs:element ref="LineItems" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransferType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TransferTypeCode"/>
					<xs:element ref="MovementTypeCode" minOccurs="0"/>
					<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
					<xs:element ref="ReleaseNumber" minOccurs="0"/>
					<xs:element ref="PurchaseOrderDate" minOccurs="0"/>
					<xs:element ref="MarksAndNumbersQualifier1" minOccurs="0"/>
					<xs:element ref="MarksAndNumbers1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DetailAddressesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="DetailAddress" maxOccurs="5"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DetailAddressType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Address"/>
					<xs:element ref="SalesInformation" minOccurs="0" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SalesInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PartNumberQualifier1"/>
					<xs:element ref="PartNumber1"/>
					<xs:element ref="Quantity1"/>
					<xs:element ref="QtyUOM"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="MonetaryAmount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="TransferLine" minOccurs="0"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="40"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="FinancialAccountingData" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransferLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo" minOccurs="0"/>
					<xs:group ref="PartInfo"/>
					<xs:element ref="OrderQty" minOccurs="0"/>
					<xs:element ref="OrderQtyUOM" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="RetailUnitPrice" minOccurs="0"/>
					<xs:group ref="ItemPack"/>
					<xs:element ref="QuantityType" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="ShipDate" minOccurs="0"/>
					<xs:element ref="QtyLeftToReceive" minOccurs="0"/>
					<xs:element ref="ExtendedItemTotal" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Class" minOccurs="0"/>
					<xs:element ref="Gender" minOccurs="0"/>
					<xs:element ref="SellerDateCode" minOccurs="0"/>
					<xs:element ref="ItemStatusCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MeasurementsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SequenceNumber" minOccurs="0"/>
					<xs:element ref="ReferenceIDQualifier" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
					<xs:element ref="MessageInformationField1" minOccurs="0"/>
					<xs:element ref="MessageInformationField2" minOccurs="0"/>
					<xs:element ref="MessageInformationField3" minOccurs="0"/>
					<xs:element ref="MessageInformationField4" minOccurs="0"/>
					<xs:element ref="MessageInformationField5" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FinancialAccountingDataType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AgencyCode" minOccurs="0"/>
					<xs:element ref="AllowChrgCode" minOccurs="0"/>
					<xs:element ref="AllowChrgIndicator" minOccurs="0"/>
					<xs:element ref="BreakdownStructureCode" minOccurs="0"/>
					<xs:element ref="FinancialInformationCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalAmount" minOccurs="0"/>
					<xs:element ref="TotalLineItemNumber" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalCartonCount" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="TotalVolume" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
