SIP/Schemas/7.0.8/CarrierShipmentStatusMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML CarrierShipmentStatusMessages (EDIDOC 214)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: November 8, 2006

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="ApplicationErrorCode" type="xs:string"/>
	<xs:element name="AssignedNumber" type="xs:string"/>
	<xs:element name="BinaryData" type="BinaryDataType"/>
	<xs:element name="BlockLength" type="xs:int"/>
	<xs:element name="BlockType" type="xs:string"/>
	<xs:element name="CarrierShipmentStatusMessage" type="CarrierShipmentStatusMessageType"/>
	<xs:element name="CarrierShipmentStatusMessageHeader" type="CarrierShipmentStatusMessageHeaderType"/>
	<xs:element name="CartonDetail" type="CartonDetailType"/>
	<xs:element name="CartonDetailLine" type="CartonDetailLineType"/>
	<xs:element name="CartonDetails" type="CartonDetailsType"/>
	<xs:element name="Charge" type="xs:int"/>
	<xs:element name="ChangeOrderSeqNumber" type="xs:string"/>
	<xs:element name="CompressionTechnique" type="xs:string"/>
	<xs:element name="ConditionResponseCode1" type="xs:string"/>
	<xs:element name="ContractNumber" type="xs:decimal"/>
	<xs:element name="Data" type="xs:string"/>
	<xs:element name="DataLength" type="xs:int"/>
	<xs:element name="DrawingSheetSizeCode" type="xs:string"/>
	<xs:element name="ElectronicFormat" type="ElectronicFormatType"/>
	<xs:element name="ElectronicFormatID" type="ElectronicFormatIDType"/>
	<xs:element name="ElectronicFormats" type="ElectronicFormatsType"/>
	<xs:element name="EntityIDCode1" type="xs:string"/>
	<xs:element name="EntityIDCode2" type="xs:string"/>
	<xs:element name="EntityRelationshipCode" type="xs:string"/>
	<xs:element name="EntityTypeQual" type="xs:string"/>
	<xs:element name="EquipmentNumberCheckDigit" type="xs:int"/>
	<xs:element name="FileName" type="xs:string"/>
	<xs:element name="FilterIDCode" type="xs:string"/>
	<xs:element name="FirstName" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="HeaderAddress" type="HeaderAddressType"/>
	<xs:element name="HeaderAddresses" type="HeaderAddressesType"/>
	<xs:element name="InquiryRequestNumber" type="xs:int"/>
	<xs:element name="InterchangeFormat" type="xs:string"/>
	<xs:element name="LadingExceptionCode" type="xs:string"/>
	<xs:element name="LastName" type="xs:string"/>
	<xs:element name="LastOrganizationName" type="xs:string"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="NoteInformationField1" type="xs:string"/>
	<xs:element name="NoteInformationField2" type="xs:string"/>
	<xs:element name="OrderDetail" type="OrderDetailType"/>
	<xs:element name="OrderDetailLine" type="OrderDetailLineType"/>
	<xs:element name="OrderDetails" type="OrderDetailsType"/>
	<xs:element name="PackageFormCode" type="xs:string"/>
	<xs:element name="PickupOrDeliveryCode1" type="xs:string"/>
	<xs:element name="PrefixName" type="xs:string"/>
	<xs:element name="ProgramIdentifier" type="xs:string"/>
	<xs:element name="PurchaseOrderDate" type="xs:date"/>
	<xs:element name="PurchaseOrderReference" type="PurchaseOrderReferenceType"/>
	<xs:element name="PurchaseOrderTypeCode" type="xs:string"/>
	<xs:element name="RateValueQualifier1" type="xs:string"/>
	<xs:element name="RecordLength" type="xs:int"/>
	<xs:element name="ReleaseNumber" type="xs:string"/>
	<xs:element name="Remarks" type="RemarksType"/>
	<xs:element name="RouteInformation" type="RouteInformationType"/>
	<xs:element name="SealNumber1" type="xs:string"/>
	<xs:element name="SealNumber2" type="xs:string"/>
	<xs:element name="SealNumber3" type="xs:string"/>
	<xs:element name="SealNumber4" type="xs:string"/>
	<xs:element name="SecurityLevel" type="xs:string"/>
	<xs:element name="SecurityTechniqueCode" type="xs:string"/>
	<xs:element name="ServiceStandard" type="xs:int"/>
	<xs:element name="ShipmentApptStatus" type="xs:string"/>
	<xs:element name="ShipmentLadingQuantity1" type="xs:int"/>
	<xs:element name="ShipmentLadingQuantity2" type="xs:int"/>
	<xs:element name="ShipmentLadingQuantity3" type="xs:int"/>
	<xs:element name="ShipmentOrderStatusCode1" type="xs:string"/>
	<xs:element name="ShipmentOrderStatusCode2" type="xs:string"/>
	<xs:element name="StatusReasonCode1" type="xs:string"/>
	<xs:element name="StatusReasonCode2" type="xs:string"/>
	<xs:element name="ShipmentStatus" type="ShipmentStatusType"/>
	<xs:element name="ShipmentStatusApptReason1" type="xs:string"/>
	<xs:element name="ShipmentStatusApptReason2" type="xs:string"/>
	<xs:element name="ShipmentWeightUnitCode1" type="xs:string"/>
	<xs:element name="ShipmentWeightQualifier1" type="xs:string"/>
	<xs:element name="ShippingAndHandling" type="ShippingAndHandlingType"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="SpecialHandlingDescription" type="xs:string"/>
	<xs:element name="SpecialServicesCode" type="xs:string"/>
	<xs:element name="StatusLineCount" type="xs:decimal"/>
	<xs:element name="SuffixName" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="Temperature" type="xs:decimal"/>
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="VersionIdentifier1" type="xs:string"/>
	<xs:element name="VersionIdentifier2" type="xs:string"/>
	<xs:element name="VersionIdentifier3" type="xs:string"/>
	<xs:element name="VersionIdentifier4" type="xs:string"/>
	<xs:element name="VolumeUnitQualifier" type="xs:string"/>
	<xs:element name="Weight1" type="xs:decimal"/>
	<xs:element name="WeightUnitCode1" type="xs:string"/>
	<xs:element name="WeightQualifier1" type="xs:string"/>
	<xs:element name="Zone" type="xs:string"/>
	<!-- top level elements -->
	<xs:element name="CarrierShipmentStatusMessages">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML CarrierShipmentStatusMessages schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CarrierShipmentStatusMessage" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CarrierShipmentStatusMessageType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="CarrierShipmentStatusMessageHeader"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="300"/>
					<xs:element ref="MarksAndNumbersCollection" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Remarks" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="RouteInformation" minOccurs="0" maxOccurs="12"/>
					<xs:element ref="HeaderAddresses" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- CarrierShipmentStatusMessage elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="CarrierShipmentStatusMessageHeaderType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId"/>
			<xs:element ref="DocumentId"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="InvoiceNumber" minOccurs="0"/>
			<xs:element ref="ShipmentIdentification" minOccurs="0"/>
			<xs:element ref="CarrierAlphaCode"/>
			<xs:element ref="InquiryRequestNumber" minOccurs="0"/>
			<xs:element ref="ReferenceQual" minOccurs="0"/>
			<xs:element ref="ReferenceID" minOccurs="0"/>
			<xs:element ref="ConditionResponseCode1" minOccurs="0"/>
			<xs:element ref="Vendor" minOccurs="0"/>
			<xs:element ref="Department" minOccurs="0"/>
			<xs:element ref="BillOfLadingNumber" minOccurs="0"/>
			<xs:element ref="CarrierProNumber" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Remarks elements -->
	<xs:complexType name="RemarksType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="NoteInformationField1"/>
					<xs:element ref="NoteInformationField2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RouteInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierAlphaCode"/>
					<xs:element ref="RoutingSequenceCode"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="CarrierTransMethodCode" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HeaderAddressesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="HeaderAddress" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- HeaderAddress elements -->
	<xs:complexType name="HeaderAddressType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Address"/>
					<xs:element ref="Date" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ShippingAndHandling"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Remarks" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="MarksAndNumbersCollection" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ShipmentStatus" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="PurchaseOrderReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="CartonDetails" minOccurs="0"/>
					<xs:element ref="OrderDetails" minOccurs="0"/>
					<xs:element ref="ElectronicFormats" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ShippingAndHandling -->
	<xs:complexType name="ShippingAndHandlingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AssignedNumber"/>
					<xs:element ref="ShipmentWeight" minOccurs="0"/>
					<xs:element ref="ShipmentWeightUnitCode1" minOccurs="0"/>
					<xs:element ref="ShipmentWeightQualifier1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity2" minOccurs="0"/>
					<xs:element ref="VolumeUnitQualifier" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="LadingExceptionCode" minOccurs="0"/>
					<xs:element ref="PackageFormCode" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity3" minOccurs="0"/>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="SpecialServicesCode" minOccurs="0"/>
					<xs:element ref="SpecialHandlingDescription" minOccurs="0"/>
					<xs:element ref="UOM" minOccurs="0"/>
					<xs:element ref="Temperature" minOccurs="0"/>
					<xs:element ref="NoteInformationField1" minOccurs="0"/>
					<xs:element ref="NoteInformationField2" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipmentStatus elements -->
	<xs:complexType name="ShipmentStatusType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ShipmentStatusCode" minOccurs="0"/>
					<xs:element ref="ShipmentStatusApptReason1" minOccurs="0"/>
					<xs:element ref="ShipmentApptStatus" minOccurs="0"/>
					<xs:element ref="ShipmentStatusApptReason2" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="EquipmentNumberCheckDigit" minOccurs="0"/>
					<xs:element ref="SealNumber1" minOccurs="0"/>
					<xs:element ref="SealNumber2" minOccurs="0"/>
					<xs:element ref="SealNumber3" minOccurs="0"/>
					<xs:element ref="SealNumber4" minOccurs="0"/>
					<xs:element ref="EntityIDCode1" minOccurs="0"/>
					<xs:element ref="NoteInformationField1" minOccurs="0"/>
					<xs:element ref="NoteInformationField2" minOccurs="0"/>
					<xs:element ref="LadingExceptionCode" minOccurs="0"/>
					<xs:element ref="PackageFormCode" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PurchaseOrderReference elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="PurchaseOrderReferenceType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber"/>
			<xs:element ref="ReleaseNumber" minOccurs="0"/>
			<xs:element ref="ChangeOrderSeqNumber" minOccurs="0"/>
			<xs:element ref="PurchaseOrderDate" minOccurs="0"/>
			<xs:element ref="AssignedID" minOccurs="0"/>
			<xs:element ref="ContractNumber" minOccurs="0"/>
			<xs:element ref="PurchaseOrderTypeCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--  CartonDetails elements -->
	<xs:complexType name="CartonDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="CartonDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  CartonDetail elements -->
	<xs:complexType name="CartonDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="CartonDetailLine"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--CartonDetailLine elements -->
	<xs:complexType name="CartonDetailLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="WeightQualifier1" minOccurs="0"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="Zone" minOccurs="0"/>
					<xs:element ref="ServiceStandard" minOccurs="0"/>
					<xs:element ref="ServiceLevelCode1" minOccurs="0"/>
					<xs:element ref="PickupOrDeliveryCode1" minOccurs="0"/>
					<xs:element ref="RateValueQualifier1" minOccurs="0"/>
					<xs:element ref="Charge" minOccurs="0"/>
					<xs:element ref="ShipmentOrderStatusCode1" minOccurs="0"/>
					<xs:element ref="StatusReasonCode1" minOccurs="0"/>
					<xs:element ref="ShipmentOrderStatusCode2" minOccurs="0"/>
					<xs:element ref="StatusReasonCode2" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="EquipmentNumberCheckDigit" minOccurs="0"/>
					<xs:element ref="EntityIDCode1" minOccurs="0"/>
					<xs:element ref="EntityTypeQual" minOccurs="0"/>
					<xs:element ref="LastOrganizationName" minOccurs="0"/>
					<xs:element ref="FirstName" minOccurs="0"/>
					<xs:element ref="LastName" minOccurs="0"/>
					<xs:element ref="PrefixName" minOccurs="0"/>
					<xs:element ref="SuffixName" minOccurs="0"/>
					<xs:element ref="LocationCodeQualifier" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber" minOccurs="0"/>
					<xs:element ref="EntityRelationshipCode" minOccurs="0"/>
					<xs:element ref="EntityIDCode2" minOccurs="0"/>
					<xs:element ref="ShipmentWeight" minOccurs="0"/>
					<xs:element ref="ShipmentWeightUnitCode1" minOccurs="0"/>
					<xs:element ref="ShipmentWeightQualifier1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity2" minOccurs="0"/>
					<xs:element ref="VolumeUnitCode" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="LadingExceptionCode" minOccurs="0"/>
					<xs:element ref="PackageFormCode" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity3" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrderDetailsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="OrderDetail" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OrderDetail elements -->
	<xs:complexType name="OrderDetailType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="OrderDetailLine"/>
					<xs:element ref="ShipDestinationQty" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--OrderDetailLine elements -->
	<!-- cannot derive from siprecord due to name conflicts -->
	<xs:complexType name="OrderDetailLineType">
		<xs:sequence>
			<xs:element ref="TradingPartnerId" minOccurs="0"/>
			<xs:element ref="DocumentId" minOccurs="0"/>
			<xs:element ref="RecordType" minOccurs="0"/>
			<xs:element ref="ReferenceID1" minOccurs="0"/>
			<xs:element ref="PurchaseOrderNumber" minOccurs="0"/>
			<xs:element ref="ReferenceID2" minOccurs="0"/>
			<xs:element ref="PackageFormCode" minOccurs="0"/>
			<xs:element ref="Quantity1" minOccurs="0"/>
			<xs:element ref="WeightUnitCode1" minOccurs="0"/>
			<xs:element ref="Weight1" minOccurs="0"/>
			<xs:element ref="VolumeUOM" minOccurs="0"/>
			<xs:element ref="Volume" minOccurs="0"/>
			<xs:element ref="ApplicationErrorCode" minOccurs="0"/>
			<xs:element ref="ReferenceID3" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--  ElectronicFormats elements -->
	<xs:complexType name="ElectronicFormatsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ElectronicFormat" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  ElectronicFormat elements -->
	<xs:complexType name="ElectronicFormatType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ElectronicFormatID" minOccurs="0"/>
					<xs:element ref="BinaryData" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ElectronicFormatID elements -->
	<xs:complexType name="ElectronicFormatIDType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SecurityLevel" minOccurs="0"/>
					<xs:element ref="NoteInformationField" minOccurs="0"/>
					<xs:element ref="SecurityTechniqueCode" minOccurs="0"/>
					<xs:element ref="VersionIdentifier1" minOccurs="0"/>
					<xs:element ref="ProgramIdentifier" minOccurs="0"/>
					<xs:element ref="VersionIdentifier2" minOccurs="0"/>
					<xs:element ref="InterchangeFormat" minOccurs="0"/>
					<xs:element ref="VersionIdentifier3" minOccurs="0"/>
					<xs:element ref="CompressionTechnique" minOccurs="0"/>
					<xs:element ref="DrawingSheetSizeCode" minOccurs="0"/>
					<xs:element ref="FileName" minOccurs="0"/>
					<xs:element ref="BlockType" minOccurs="0"/>
					<xs:element ref="RecordLength" minOccurs="0"/>
					<xs:element ref="BlockLength" minOccurs="0"/>
					<xs:element ref="VersionIdentifier4" minOccurs="0"/>
					<xs:element ref="FilterIDCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--BinaryData elements -->
	<xs:complexType name="BinaryDataType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="DataLength" minOccurs="0"/>
					<xs:element ref="Data" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="StatusLineCount" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
