SIP/Schemas/7.0.8/OceanStatusDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML OceanStatusDetails(EDIDOC 315) -->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.12.3
	Date of Creation: January 15, 2009

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="EquipmentInitial" type="xs:string"/>
	<xs:element name="EquipmentNumber" type="xs:string"/>
	<xs:element name="EquipmentNumberCheckDigit" type="xs:int"/>
	<xs:element name="Event" type="xs:string"/>
	<xs:element name="EventCode" type="xs:string"/>
	<xs:element name="EventDetail" type="EventDetailType"/>
	<xs:element name="FlightOrVoyageNumber" type="xs:string"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="FunctionCode" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="InquiryRequestNumber" type="xs:int"/>
	<xs:element name="Length" type="xs:decimal"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="LocationIdentifier" type="xs:string"/>
	<xs:element name="OceanStatusDetail" type="OceanStatusDetailType"/>
	<xs:element name="OceanStatusDetailHeader" type="OceanStatusDetailHeaderType"/>
	<xs:element name="PierDate1" type="xs:date"/>
	<xs:element name="PortName" type="xs:string"/>
	<xs:element name="PierNumber" type="xs:string"/>
	<xs:element name="PortTerminal" type="PortTerminalType"/>
	<xs:element name="ShipmentLadingQuantity1" type="xs:int"/>
	<xs:element name="ShipmentLadingQuantity2" type="xs:int"/>
	<xs:element name="ShipmentOrderStatusCode1" type="xs:string"/>
	<xs:element name="ShipmentOrderStatusCode2" type="xs:string"/>
	<xs:element name="ShipmentStatus" type="ShipmentStatusType"/>
	<xs:element name="ShipmentWeightUnitCode1" type="xs:string"/>
	<xs:element name="ShipmentWeightQualifier1" type="xs:string"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="StatusLocation" type="xs:string"/>
	<xs:element name="StatusReasonCode1" type="xs:string"/>
	<xs:element name="StatusReasonCode2" type="xs:string"/>
	<xs:element name="StatusDetail" type="StatusDetailType"/>
	<xs:element name="StatusReasonCode" type="xs:string"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TerminalName" type="xs:string"/>
	<xs:element name="TotalEquipment1" type="xs:int"/>
	<xs:element name="TotalEquipment2" type="xs:int"/>
	<xs:element name="TotalEquipment3" type="xs:int"/>
	<xs:element name="TotalLineItems" type="xs:int"/>
	<xs:element name="TotalOrders" type="xs:string"/>
	<xs:element name="TotalQuantity" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:string"/>
	<xs:element name="TrainDelayReasonCode" type="xs:string"/>
	<xs:element name="VesselCode" type="xs:string"/>
	<xs:element name="VesselCodeQualifier" type="xs:string"/>
	<xs:element name="VesselCountry" type="xs:string"/>
	<xs:element name="VesselDepartureDate1" type="xs:date"/>
	<xs:element name="VesselName" type="xs:string"/>
	<xs:element name="VesselUnloadedDate1" type="xs:date"/>
	<xs:element name="VolumeUnitQualifier" type="xs:string"/>
	<!-- top level elements -->
	<xs:element name="OceanStatusDetails">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML OceanStatusDetails schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OceanStatusDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- OceanStatusDetail elements  -->
	<xs:complexType name="OceanStatusDetailType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="EventDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements  -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="OceanStatusDetailHeader"/>
					<xs:element ref="ReferenceIdentifications" minOccurs="0" maxOccurs="30"/>
					<xs:element ref="StatusDetail" minOccurs="0"/>
					<xs:element ref="ShipmentStatus" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- OceanStatusDetailHeader elements  -->
	<xs:complexType name="OceanStatusDetailHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="InquiryRequestNumber" minOccurs="0"/>
					<xs:element ref="ShipmentStatusCode" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="JobNumber" minOccurs="0"/>
					<xs:element ref="Division" minOccurs="0"/>
					<xs:element ref="CustomerAccountNumber" minOccurs="0"/>
					<xs:element ref="CustomerOrderNumber" minOccurs="0"/>
					<xs:element ref="PromotionDealNumber" minOccurs="0"/>
					<xs:element ref="PromotionDealDescription" minOccurs="0"/>
					<xs:element ref="StatusLocation" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="EquipmentInitial" minOccurs="0"/>
					<xs:element ref="EquipmentNumber" minOccurs="0"/>
					<xs:element ref="EquipmentType" minOccurs="0"/>
					<xs:element ref="LocationQualifier" minOccurs="0"/>
					<xs:element ref="LocationIdentifier" minOccurs="0"/>
					<xs:element ref="EquipmentNumberCheckDigit" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--StatusDetail elements -->
	<xs:complexType name="StatusDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ShipmentWeight" minOccurs="0"/>
					<xs:element ref="ShipmentWeightUnitCode1" minOccurs="0"/>
					<xs:element ref="ShipmentWeightQualifier1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity1" minOccurs="0"/>
					<xs:element ref="ShipmentLadingQuantity2" minOccurs="0"/>
					<xs:element ref="VolumeUnitQualifier" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VesselName" minOccurs="0"/>
					<xs:element ref="VesselCode" minOccurs="0"/>
					<xs:element ref="VesselCodeQualifier" minOccurs="0"/>
					<xs:element ref="FlightOrVoyageNumber" minOccurs="0"/>
					<xs:element ref="ReferenceQual" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="VesselCountry" minOccurs="0"/>
					<xs:element ref="PierDate1" minOccurs="0"/>
					<xs:element ref="VesselDepartureDate1" minOccurs="0"/>
					<xs:element ref="VesselUnloadedDate1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ShipmentStatus elements -->
	<xs:complexType name="ShipmentStatusType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ShipmentOrderStatusCode1" minOccurs="0"/>
					<xs:element ref="StatusReasonCode1" minOccurs="0"/>
					<xs:element ref="ShipmentOrderStatusCode2" minOccurs="0"/>
					<xs:element ref="StatusReasonCode2" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItems elements -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="20"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="PortTerminal"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="15"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PortTerminal elements -->
	<xs:complexType name="PortTerminalType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="FunctionCode"/>
					<xs:element ref="LocationCodeQualifier" minOccurs="0"/>
					<xs:element ref="PortName" minOccurs="0"/>
					<xs:element ref="LocationIdentifier" minOccurs="0"/>
					<xs:element ref="PierNumber" minOccurs="0"/>
					<xs:element ref="TerminalName" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- EventDetailType definition-->
	<xs:complexType name="EventDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="EventCode"/>
					<xs:element ref="Event" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="StatusReasonCode" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="TrainDelayReasonCode" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber2" minOccurs="0"/>
					<xs:element ref="TotalEquipment1" minOccurs="0"/>
					<xs:element ref="TotalEquipment2" minOccurs="0"/>
					<xs:element ref="TotalEquipment3" minOccurs="0"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalOrders" minOccurs="0"/>
					<xs:element ref="TotalLineItems" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
