SIP/Schemas/7.0.8/ResponseToLoadTenders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML ResponseToLoadTenders (EDIDOC 990)-->
<!-- C SPS Commerce, Inc., 2012

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on years of experience with our Standard Interface Program (SIP).

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE SCHEMA AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

    Version Information:
    Version 7.12.3
    Date of Creation: March 1, 2010

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- inclusion of SIPbase-->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<xs:element name="AccomplishCode" type="xs:string"/>
	<xs:element name="CarrierDetail" type="CarrierDetailType"/>
	<xs:element name="ChargeDetail" type="ChargeDetailType"/>
	<xs:element name="Dunnage" type="xs:int"/>
	<xs:element name="Equipment" type="EquipmentType"/>
	<xs:element name="EquipmentCheckDigit" type="xs:int"/>
	<xs:element name="EquipmentLength" type="xs:int"/>
	<xs:element name="Event" type="xs:string"/>
	<xs:element name="EventCode" type="xs:string"/>
	<xs:element name="EventDetail" type="EventDetailType"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Height" type="xs:decimal"/>
	<xs:element name="Length" type="xs:decimal"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="ResponseToLoadTender" type="ResponseToLoadTenderType"/>
	<xs:element name="ResponseToLoadTenderHeader" type="ResponseToLoadTenderHeaderType"/>
	<xs:element name="ServiceTypeCode" type="xs:string"/>
	<xs:element name="StandardPointLocationCode" type="xs:string"/>
	<xs:element name="StatusReasonCode" type="xs:string"/>
	<xs:element name="StopReasonCode" type="xs:string"/>
	<xs:element name="StopSequenceNumber" type="xs:int"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TareWeight" type="xs:int"/>
	<xs:element name="TotalEquipment1" type="xs:int"/>
	<xs:element name="TotalEquipment2" type="xs:int"/>
	<xs:element name="TotalEquipment3" type="xs:int"/>
	<xs:element name="TotalLineItems" type="xs:int"/>
	<xs:element name="TotalOrders" type="xs:string"/>
	<xs:element name="TotalQuantity" type="xs:string"/>
	<xs:element name="TotalWeight" type="xs:string"/>
	<xs:element name="TrainDelayReasonCode" type="xs:string"/>
	<xs:element name="WeightAllowance" type="xs:int"/>
	<xs:element name="Width" type="xs:decimal"/>
	<!-- top level elements -->
	<xs:element name="ResponseToLoadTenders">
		<xs:annotation>
			<xs:appinfo>7.12.3</xs:appinfo>
			<xs:documentation>SIP XML ResponseToLoadTenders schema, Version 7.12.3</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseToLoadTender" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- ResponseToLoadTender elements -->
	<xs:complexType name="ResponseToLoadTenderType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems" minOccurs="0"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="ResponseToLoadTenderHeader"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="Equipment" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="ChargeDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="EventDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ResponseToLoadTenderHeader elements -->
	<xs:complexType name="ResponseToLoadTenderHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="BillOfLadingNumber" minOccurs="0"/>
					<xs:element ref="CarrierProNumber" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Equipment elements -->
	<xs:complexType name="EquipmentType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CarrierEquipmentInitial" minOccurs="0"/>
					<xs:element ref="CarrierEquipmentNumber"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightQualifier" minOccurs="0"/>
					<xs:element ref="TareWeight" minOccurs="0"/>
					<xs:element ref="WeightAllowance" minOccurs="0"/>
					<xs:element ref="Dunnage" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="OwnershipCode" minOccurs="0"/>
					<xs:element ref="EquipmentDescriptionCode" minOccurs="0"/>
					<xs:element ref="CarrierAlphaCode" minOccurs="0"/>
					<xs:element ref="EquipmentLength" minOccurs="0"/>
					<xs:element ref="EquipmentCheckDigit" minOccurs="0"/>
					<xs:element ref="ServiceTypeCode" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  ChargeDetail elements -->
	<xs:complexType name="ChargeDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AllowChrgCode" minOccurs="0"/>
					<xs:element ref="AllowChrgAmt" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- EventDetailType definition-->
	<xs:complexType name="EventDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="EventCode"/>
					<xs:element ref="Event" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="City" minOccurs="0"/>
					<xs:element ref="State" minOccurs="0"/>
					<xs:element ref="Country" minOccurs="0"/>
					<xs:element ref="StatusReasonCode" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="TrainDelayReasonCode" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="Quantity2" minOccurs="0"/>
					<xs:element ref="AddressLocationNumber2" minOccurs="0"/>
					<xs:element ref="TotalEquipment1" minOccurs="0"/>
					<xs:element ref="TotalEquipment2" minOccurs="0"/>
					<xs:element ref="TotalEquipment3" minOccurs="0"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItems dataset definition-->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="999"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  LineItem group definition-->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="CarrierDetail"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="50"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  CarrierDetail elements -->
	<xs:complexType name="CarrierDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="StopSequenceNumber"/>
					<xs:element ref="StopReasonCode"/>
					<xs:element ref="Weight" minOccurs="0"/>
					<xs:element ref="WeightUnitCode" minOccurs="0"/>
					<xs:group ref="LineShipQty" minOccurs="0"/>
					<xs:element ref="Volume" minOccurs="0"/>
					<xs:element ref="VolumeQualifier" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="StandardPointLocationCode" minOccurs="0"/>
					<xs:element ref="AccomplishCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalOrders" minOccurs="0"/>
					<xs:element ref="TotalLineItems" minOccurs="0"/>
					<xs:element ref="TotalQuantity" minOccurs="0"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
