SIP/Schemas/7.0.0/ItemMaintenances.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- SIP XML ItemMaintenances (EDIDOC 888)  -->
<!-- C SPS Commerce, Inc., 2004

SPS Commerce is providing this XML schema (XSD) and resultant XML Message as a service to its customers and partners. This schema and resultant XML message were developed by SPS Commerce and are based on over six years of experience with our Standard Interface Program (SIP). The XML Tag names used are the same as our Field Names in the SIP 5.0 Flat File definition. 

Although efforts have been made to assure that the XML schema and resultant XML message are correct, reliable, and technically accurate, SPS COMMERCE MAKES NO WARRANTY, EXPRESS OR IMPLIED, THAT THIS XML SCHEMA AND RESULTANT XML MESSAGE ARE CORRECT, WILL NOT REQUIRE MODIFICATION AS EXPERIENCE AND TECHNOLOGICAL ADVANCES DICTATE, OR WILL BE MERCHANTABLE OR SUITABLE FOR ANY PARTICULAR PURPOSE OR WORKABLE IN ANY APPLICATION, OR OTHERWISE.  THE USE OF THE DTD AND RESULTANT MESSAGE BY ANY PARTY ARE WITH THE EXPRESS UNDERSTANDING THAT SPS COMMERCE  ASSUMES NO LIABILITY FOR ANY CLAIM, DAMAGE OR LOSS OF ANY KIND OR NATURE.

	Version Information:
	Version 7.0
	Date of Creation: October 1, 2009
    Revision to Complete: August 10, 2011

COMMENTS:

The mandatory XML elements, specific codes and qualifiers used between Trading partners are defined in separate trading partner guidelines between the partners and are not part of this schema and resultant XML message. 
 -->
<xs:schema xmlns="http://www.spscommerce.net/SIP" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.spscommerce.net/SIP" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- 
			inclusion of SIPbase -->
	<xs:include schemaLocation="SIPbase.xsd"/>
	<!-- top level element -->
	<xs:element name="ItemMaintenances">
		<xs:annotation>
			<xs:appinfo>7.0</xs:appinfo>
			<xs:documentation>SIP XML ItemMaintenances schema, Version 7.0 (with no substitution groups)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ItemMaintenance" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ActionCode" type="xs:string"/>
	<xs:element name="AgencyCodeListReference" type="xs:string"/>
	<xs:element name="AgencyQualCode" type="xs:string"/>
	<xs:element name="AllowChrgNumber" type="xs:string"/>
	<xs:element name="AlternateTiersPerPallet" type="xs:string"/>
	<xs:element name="BracketPrice" type="BracketPriceType"/>
	<xs:element name="CarrierSpecialHandlingDetail" type="CarrierSpecialHandlingDetailType"/>
	<xs:element name="ClassOfTradeCode" type="xs:string"/>
	<xs:element name="CompositeUOM" type="xs:string"/>
	<xs:element name="ConditionResponseCode1" type="xs:string"/>
	<xs:element name="ConsumerLineCharacteristic" type="LineItemCharacteristicType"/>
	<xs:element name="ConsumerLineItem" type="ConsumerLineItemType"/>
	<xs:element name="ConsumerLineItems" type="ConsumerLineItemsType"/>
	<xs:element name="EventType" type="xs:string"/>
	<xs:element name="EventTypeInformation" type="xs:string"/>
	<xs:element name="FlashPointTemp" type="xs:decimal"/>
	<xs:element name="FreeFormMessage" type="xs:string"/>
	<xs:element name="HazardousMaterialClass" type="xs:string"/>
	<xs:element name="HazardousMaterialClassification" type="xs:string"/>
	<xs:element name="HazardousMaterialCode" type="xs:string"/>
	<xs:element name="HazardousMaterialContact" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc1" type="xs:string"/>
	<xs:element name="HazardousMaterialDesc2" type="xs:string"/>
	<xs:element name="HazardousMaterialPage" type="xs:string"/>
	<xs:element name="HazardousMaterialQualifier" type="xs:string"/>
	<xs:element name="HazardousMaterials" type="HazardousMaterialsType"/>
	<xs:element name="Header" type="HeaderType"/>
	<xs:element name="Height" type="xs:decimal"/>
	<xs:element name="HeightUOM" type="xs:string"/>
	<xs:element name="IndustryCode" type="xs:string"/>
	<xs:element name="IndustryCodeInformation" type="IndustryCodeInformationType"/>
	<xs:element name="IndustryQualifierCode" type="xs:string"/>
	<xs:element name="ItemIdentification" type="ItemIdentificationType"/>
	<xs:element name="ItemMaintenance" type="ItemMaintenanceType"/>
	<xs:element name="ItemMaintenanceHeader" type="ItemMaintenanceHeaderType"/>
	<xs:element name="ItemQuantity" type="ItemQuantityType"/>
	<xs:element name="KitSerialLot" type="KitSerialLotType"/>
	<xs:element name="LeadTimeCode" type="xs:string"/>
	<xs:element name="LeadTimeDate" type="xs:date"/>
	<xs:element name="LeadTimePeriodInterval" type="xs:string"/>
	<xs:element name="LeadTimeQuantity" type="xs:decimal"/>
	<xs:element name="LeadTime" type="LeadTimeType"/>
	<xs:element name="Length" type="xs:decimal"/>
	<xs:element name="LengthUOM" type="xs:string"/>
	<xs:element name="LineCharacteristic" type="LineCharacteristicType"/>
	<xs:element name="LineCharacteristics" type="LineCharacteristicsType"/>
	<xs:element name="LineCharacteristicAddress" type="LineCharacteristicAddressType"/>
	<xs:element name="LineCharacteristicAddresses" type="LineCharacteristicAddressesType"/>
	<xs:element name="LineItem" type="LineItemType"/>
	<xs:element name="LineItems" type="LineItemsType"/>
	<xs:element name="ListCostNew" type="xs:decimal"/>
	<xs:element name="ListCostOld" type="xs:decimal"/>
	<xs:element name="LotExpirationDate" type="xs:date"/>
	<xs:element name="MaintenanceType" type="MaintenanceTypeType"/>
	<xs:element name="MaintenanceTypeCode" type="xs:string"/>
	<xs:element name="MarketAreaCodeID" type="xs:string"/>
	<xs:element name="MarketAreaCodeQual" type="xs:string"/>
	<xs:element name="Measurements" type="MeasurementsType"/>
	<xs:element name="MeasurementAttributeCode" type="xs:string"/>
	<xs:element name="MeasurementMethodorDevice" type="xs:string"/>
	<xs:element name="MeasurementQualifier" type="xs:string"/>
	<xs:element name="MeasurementRefIDCode" type="xs:string"/>
	<xs:element name="MeasurementSignificanceCode" type="xs:string"/>
	<xs:element name="MeasurementValue" type="xs:decimal"/>
	<xs:element name="ModuleDescription" type="ModuleDescriptionType"/>
	<xs:element name="MultiplePriceQuantity" type="xs:int"/>
	<xs:element name="Number" type="xs:int"/>
	<xs:element name="OrderSizingFactor" type="xs:decimal"/>
	<xs:element name="Packaging" type="PackagingType"/>
	<xs:element name="PackagingCharacteristicCode" type="xs:string"/>
	<xs:element name="PackagingCode" type="xs:string"/>
	<xs:element name="PackagingDescription" type="xs:string"/>
	<xs:element name="PackagingDescriptionCode" type="xs:string"/>
	<xs:element name="PackingGroupCode" type="xs:string"/>
	<xs:element name="Pack" type="xs:int"/>
	<xs:element name="PalletExchangeCode" type="xs:string"/>
	<xs:element name="PalletBlocks" type="xs:int"/>
	<xs:element name="PalletInformation" type="PalletInformationType"/>
	<xs:element name="PalletStructureCode" type="xs:string"/>
	<xs:element name="PalletTiers" type="xs:int"/>
	<xs:element name="PalletTypeCode" type="xs:string"/>
	<xs:element name="PartDescription" type="PartDescriptionType"/>
	<xs:element name="PartDescription3" type="xs:string"/>
	<xs:element name="PartDescription4" type="xs:string"/>
	<xs:element name="PrepricedOptionCode" type="xs:string"/>
	<xs:element name="PriceConditionAppliesCode" type="xs:string"/>
	<xs:element name="PriceBracketIdentification" type="PriceBracketIdentificationType"/>
	<xs:element name="PriceConditionCode" type="xs:string"/>
	<xs:element name="PriceIdentifierCode" type="xs:string"/>
	<xs:element name="PricingInformation" type="PricingInformationType"/>
	<xs:element name="PriceListArea" type="PriceListAreaType"/>
	<xs:element name="PriceListNumber" type="xs:string"/>
	<xs:element name="PriceListIssueNumber" type="xs:string"/>
	<xs:element name="PriceTypeIDCode" type="xs:string"/>
	<xs:element name="PricingBracketID" type="xs:string"/>
	<xs:element name="PricingConditions" type="PricingConditionsType"/>
	<xs:element name="PromotionReference" type="PromotionReferenceType"/>
	<xs:element name="QtyPer" type="xs:decimal"/>
	<xs:element name="QtyPerUOM" type="xs:string"/>
	<xs:element name="QuantityLine" type="QuantityLineType"/>
	<xs:element name="QuanitityBasis" type="xs:string"/>
	<xs:element name="QuantityQualifier" type="xs:string"/>
	<xs:element name="RangeMaximum" type="xs:decimal"/>
	<xs:element name="RangeMinimum" type="xs:decimal"/>
	<xs:element name="RetailUnitPrice" type="xs:decimal"/>
	<xs:element name="SecurityLevel" type="xs:string"/>
	<xs:element name="SerialLotEffectiveDate" type="xs:date"/>
	<xs:element name="SerialLotNumber" type="xs:string"/>
	<xs:element name="SerialLotNumberInformation" type="xs:string"/>
	<xs:element name="SerialWarrantyDate" type="xs:date"/>
	<xs:element name="Size" type="xs:decimal"/>
	<xs:element name="SpecialHandlingCode" type="xs:string"/>
	<xs:element name="SuggestedRetailNew" type="xs:decimal"/>
	<xs:element name="SuggestedRetailOld" type="xs:decimal"/>
	<xs:element name="Summary" type="SummaryType"/>
	<xs:element name="TicketType" type="xs:string"/>
	<xs:element name="TicketTypeInformation" type="xs:string"/>
	<xs:element name="TotalLineItemNumber" type="xs:int"/>
	<xs:element name="TotalOrders" type="xs:decimal"/>
	<xs:element name="TotalVolume" type="xs:decimal"/>
	<xs:element name="TotalWeight" type="xs:decimal"/>
	<xs:element name="TotalQuantity" type="xs:decimal"/>
	<xs:element name="TsetTypeCode" type="xs:string"/>
	<xs:element name="UnitDetail" type="UnitDetailType"/>
	<xs:element name="UnitLoadOptionCode" type="xs:string"/>
	<xs:element name="UnitWeight" type="xs:decimal"/>
	<xs:element name="UnitWeight1" type="xs:decimal"/>
	<xs:element name="UnitWeight2" type="xs:decimal"/>
	<xs:element name="UnitWeightUOM" type="xs:string"/>
	<xs:element name="UOM" type="xs:string"/>
	<xs:element name="UOMCode" type="xs:string"/>
	<xs:element name="VendorLineCharacteristic" type="LineItemCharacteristicType"/>
	<xs:element name="WeightUOM" type="xs:string"/>
	<xs:element name="WeightQualifier1" type="xs:string"/>
	<xs:element name="WeightQualifier2" type="xs:string"/>
	<xs:element name="WeightUnitCode1" type="xs:string"/>
	<xs:element name="WeightUnitCode2" type="xs:string"/>
	<xs:element name="Width" type="xs:decimal"/>
	<xs:element name="WidthUOM" type="xs:string"/>
	<!-- ItemMaintenance elements  -->
	<xs:complexType name="ItemMaintenanceType">
		<xs:complexContent>
			<xs:extension base="sipDocumentType">
				<xs:sequence>
					<xs:element ref="Header"/>
					<xs:element ref="LineItems"/>
					<xs:element ref="Summary"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Header elements  -->
	<xs:complexType name="HeaderType">
		<xs:complexContent>
			<xs:extension base="sipHeaderType">
				<xs:sequence>
					<xs:element ref="ItemMaintenanceHeader"/>
					<xs:element ref="Address" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Contact" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="PriceBracketIdentification" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="Date"/>
					<xs:element ref="LeadTime" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="IndustryCodeInformation" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="10"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemMaintenanceHeader elements -->
	<xs:complexType name="ItemMaintenanceHeaderType">
		<xs:complexContent>
			<xs:extension base="firstSipRecordType">
				<xs:sequence>
					<xs:element ref="TsetPurposeCode"/>
					<xs:element ref="TsetTypeCode" minOccurs="0"/>
					<xs:element ref="Date1"/>
					<xs:element ref="Time1" minOccurs="0"/>
					<xs:element ref="ReferenceID" minOccurs="0"/>
					<xs:element ref="TimeCode1" minOccurs="0"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="SecurityLevel" minOccurs="0"/>
					<xs:element ref="Department" minOccurs="0"/>
					<xs:element ref="Vendor" minOccurs="0"/>
					<xs:element ref="Division" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PriceBracketIdentification elements -->
	<xs:complexType name="PriceBracketIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PricingBracketID" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="CarrierTransMethodCode" minOccurs="0"/>
					<xs:element ref="PriceIdentifierCode" minOccurs="0"/>
					<xs:element ref="ActionCode" minOccurs="0"/>
					<xs:element ref="ConditionResponseCode1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LeadTime element -->
	<xs:complexType name="LeadTimeType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LeadTimeCode" minOccurs="0"/>
					<xs:element ref="LeadTimeQuantity" minOccurs="0"/>
					<xs:element ref="LeadTimePeriodInterval" minOccurs="0"/>
					<xs:element ref="LeadTimeDate" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--IndustryCodeInformation elements -->
	<xs:complexType name="IndustryCodeInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AgencyQualCode" minOccurs="0"/>
					<xs:element ref="AgencyCodeListReference" minOccurs="0"/>
					<xs:element ref="IndustryQualifierCode" minOccurs="0"/>
					<xs:element ref="IndustryCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItems collection element -->
	<xs:complexType name="LineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItem elements -->
	<xs:complexType name="LineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="MaintenanceType"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="3"/>
					<xs:element ref="Notes" minOccurs="0" maxOccurs="20"/>
					<xs:element ref="LineCharacteristics"/>
					<xs:element ref="IndustryCodeInformation" minOccurs="0" maxOccurs="100"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- MaintenanceType elements -->
	<xs:complexType name="MaintenanceTypeType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MaintenanceTypeCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineCharacteristics collection element -->
	<xs:complexType name="LineCharacteristicsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineCharacteristic" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineCharacteristic elements -->
	<xs:complexType name="LineCharacteristicType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="VendorLineCharacteristic" minOccurs="0"/>
					<xs:element ref="PartDescription" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="QuantityLine" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="ItemIdentification" minOccurs="0"/>
					<xs:element ref="Packaging" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Date" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="PricingConditions" minOccurs="0" maxOccurs="2"/>
					<xs:element ref="PriceListArea" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="PromotionReference" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="BracketPrice" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="PriceBracketIdentification" minOccurs="0" maxOccurs="50"/>
					<xs:element ref="PricingInformation" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="ChargesAllowances" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="HazardousMaterials" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="ModuleDescription" minOccurs="0" maxOccurs="99"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="UnitDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="40"/>
					<xs:element ref="CarrierQuantityAndWeightDetail" minOccurs="0"/>
					<xs:element ref="CarrierSpecialHandlingDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="LeadTime" minOccurs="0"/>
					<xs:element ref="LineCharacteristicAddresses" minOccurs="0"/>
					<xs:element ref="ConsumerLineItems" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineItemCharacteristic elements -->
	<xs:complexType name="LineItemCharacteristicType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="UnitWeight1"/>
						<xs:element ref="WeightQualifier1"/>
						<xs:element ref="WeightUnitCode1"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Height"/>
						<xs:element ref="HeightUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Width"/>
						<xs:element ref="WidthUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Length"/>
						<xs:element ref="LengthUOM"/>
					</xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="Volume"/>
						<xs:element ref="VolumeUOM"/>
					</xs:sequence>
					<xs:element ref="PalletBlocks" minOccurs="0"/>
					<xs:element ref="PackSize" minOccurs="0"/>
					<xs:element ref="OuterPack" minOccurs="0"/>
					<xs:element ref="PackUOM" minOccurs="0"/>
					<xs:element ref="ProductColorDescription" minOccurs="0"/>
					<xs:element ref="OrderSizingFactor" minOccurs="0"/>
					<xs:element ref="AlternateTiersPerPallet" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="UnitWeight2"/>
						<xs:element ref="WeightQualifier2"/>
						<xs:element ref="WeightUnitCode2"/>
					</xs:sequence>
					<xs:element ref="InnerPack" minOccurs="0"/>
					<xs:element ref="PackagingCode" minOccurs="0"/>
					<xs:element ref="PartDescription3" minOccurs="0"/>
					<xs:element ref="PartDescription4" minOccurs="0"/>
					<xs:element ref="PriceListNumber" minOccurs="0"/>
					<xs:element ref="PriceListIssueNumber" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="PriceConditionAppliesCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PartDescription element -->
	<xs:complexType name="PartDescriptionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PartDescription1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- QuantityLine element -->
	<xs:complexType name="QuantityLineType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="LeadTimeCode" minOccurs="0"/>
					<xs:element ref="LeadTimeQuantity" minOccurs="0"/>
					<xs:element ref="LeadTimePeriodInterval" minOccurs="0"/>
					<xs:element ref="LeadTimeDate" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ItemIdentification elements -->
	<xs:complexType name="ItemIdentificationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Packaging elements -->
	<xs:complexType name="PackagingType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="ItemDescriptionType" minOccurs="0"/>
					<xs:element ref="PackagingCharacteristicCode" minOccurs="0"/>
					<xs:element ref="AgencyQualifierCode" minOccurs="0"/>
					<xs:element ref="PackagingDescriptionCode" minOccurs="0"/>
					<xs:element ref="PackagingDescription" minOccurs="0"/>
					<xs:element ref="UnitLoadOptionCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PricingConditions elements -->
	<xs:complexType name="PricingConditionsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PriceConditionCode" minOccurs="0"/>
					<xs:element ref="DateTimeQualifier1" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
					<xs:element ref="QuanitityBasis" minOccurs="0"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QuantityQualifier" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PriceListArea elements -->
	<xs:complexType name="PriceListAreaType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MarketAreaCodeQual"/>
					<xs:element ref="MarketAreaCodeID" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="ClassOfTradeCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PromotionReference  elements -->
	<xs:complexType name="PromotionReferenceType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="AllowChrgNumber"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--BracketPrice elements -->
	<xs:complexType name="BracketPriceType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PricingBracketID" minOccurs="0"/>
					<xs:element ref="ListCostNew" minOccurs="0"/>
					<xs:element ref="ListCostOld" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="SuggestedRetailNew" minOccurs="0"/>
					<xs:element ref="SuggestedRetailOld" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="PriceTypeIDCode" minOccurs="0"/>
					<xs:element ref="Number" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- PricingInformation elements -->
	<xs:complexType name="PricingInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PrepricedOptionCode" minOccurs="0"/>
					<xs:element ref="RetailUnitPrice" minOccurs="0"/>
					<xs:element ref="MultiplePriceQuantity" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
					<xs:element ref="Date1" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--  HazardousMaterials elements -->
	<xs:complexType name="HazardousMaterialsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="HazardousMaterialCode"/>
					<xs:element ref="HazardousMaterialClass" minOccurs="0"/>
					<xs:element ref="HazardousMaterialQualifier" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc1" minOccurs="0"/>
					<xs:element ref="HazardousMaterialContact" minOccurs="0"/>
					<xs:element ref="HazardousMaterialPage" minOccurs="0"/>
					<xs:element ref="FlashPointTemp" minOccurs="0"/>
					<xs:element ref="UOM" minOccurs="0"/>
					<xs:element ref="PackingGroupCode" minOccurs="0"/>
					<xs:element ref="HazardousMaterialDesc2" minOccurs="0"/>
					<xs:element ref="HazardousMaterialClassification" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ModuleDescription  elements -->
	<xs:complexType name="ModuleDescriptionType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="Quantity1"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="UPCCaseCode" minOccurs="0"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="Description" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- UnitDetail elements -->
	<xs:complexType name="UnitDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="CompositeUOM"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Measurements element -->
	<xs:complexType name="MeasurementsType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="MeasurementRefIDCode" minOccurs="0"/>
					<xs:element ref="MeasurementQualifier" minOccurs="0"/>
					<xs:element ref="MeasurementValue" minOccurs="0"/>
					<xs:element ref="CompositeUOM" minOccurs="0"/>
					<xs:element ref="RangeMinimum" minOccurs="0"/>
					<xs:element ref="RangeMaximum" minOccurs="0"/>
					<xs:element ref="MeasurementSignificanceCode" minOccurs="0"/>
					<xs:element ref="MeasurementAttributeCode" minOccurs="0"/>
					<xs:element ref="SurfaceLayerPositionCode" minOccurs="0"/>
					<xs:element ref="MeasurementMethodorDevice" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- CarrierSpecialHandlingDetail element -->
	<xs:complexType name="CarrierSpecialHandlingDetailType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="SpecialHandlingCode" minOccurs="0"/>
					<xs:element ref="HazardousMaterialCode" minOccurs="0"/>
					<xs:element ref="HazardousMaterialClass" minOccurs="0"/>
					<xs:element ref="Description" minOccurs="0"/>
					<xs:element ref="YesOrNoResponse" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineCharacteristicAddresses collection element -->
	<xs:complexType name="LineCharacteristicAddressesType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="LineCharacteristicAddress" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- LineCharacteristic elements -->
	<xs:complexType name="LineCharacteristicAddressType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="Address" minOccurs="0"/>
					<xs:element ref="PalletInformation" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="PriceBracketIdentification" minOccurs="0"/>
					<xs:element ref="ItemQuantity" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--PalletInformation elements -->
	<xs:complexType name="PalletInformationType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="PalletTypeCode" minOccurs="0"/>
					<xs:element ref="PalletTiers" minOccurs="0"/>
					<xs:element ref="PalletBlocks" minOccurs="0"/>
					<xs:element ref="OuterPack" minOccurs="0"/>
					<xs:element ref="UnitWeight" minOccurs="0"/>
					<xs:element ref="UnitWeightUOM" minOccurs="0"/>
					<xs:element ref="Length" minOccurs="0"/>
					<xs:element ref="Width" minOccurs="0"/>
					<xs:element ref="Height" minOccurs="0"/>
					<xs:element ref="UnitOfMeasure" minOccurs="0"/>
					<xs:element ref="PackWeight" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="PackVolume" minOccurs="0"/>
					<xs:element ref="PackVolumeUOM" minOccurs="0"/>
					<xs:element ref="PalletExchangeCode" minOccurs="0"/>
					<xs:element ref="InnerPack" minOccurs="0"/>
					<xs:element ref="PalletStructureCode" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--ItemQuantityType elements -->
	<xs:complexType name="ItemQuantityType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="QuantityQualifier"/>
					<xs:element ref="Quantity1" minOccurs="0"/>
					<xs:element ref="QtyUOM" minOccurs="0"/>
					<xs:element ref="FreeFormMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ConsumerLineItems collection element -->
	<xs:complexType name="ConsumerLineItemsType">
		<xs:complexContent>
			<xs:extension base="sipDatasetType">
				<xs:sequence>
					<xs:element ref="ConsumerLineItem" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ConsumerLineItem elements -->
	<xs:complexType name="ConsumerLineItemType">
		<xs:complexContent>
			<xs:extension base="sipGroupType">
				<xs:sequence>
					<xs:element ref="ConsumerLineCharacteristic" minOccurs="0"/>
					<xs:element ref="PartDescription" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="ItemQuantity" minOccurs="0"/>
					<xs:element ref="ItemIdentification" minOccurs="0"/>
					<xs:element ref="HazardousMaterials" minOccurs="0"/>
					<xs:element ref="Reference" minOccurs="0" maxOccurs="5"/>
					<xs:element ref="Packaging" minOccurs="0" maxOccurs="25"/>
					<xs:element ref="Measurements" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="CarrierQuantityAndWeightDetail" minOccurs="0"/>
					<xs:element ref="CarrierSpecialHandlingDetail" minOccurs="0" maxOccurs="10"/>
					<xs:element ref="KitSerialLot" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="LeadTime" minOccurs="0"/>
					<xs:element ref="Miscellaneous" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- KitSerialLot element -->
	<xs:complexType name="KitSerialLotType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="LineSequenceNumber" minOccurs="0"/>
					<xs:group ref="ItemPartInfo"/>
					<xs:group ref="PartNumbers"/>
					<xs:element ref="PartDescription1" minOccurs="0"/>
					<xs:element ref="PartDescription2" minOccurs="0"/>
					<xs:group ref="ProductData"/>
					<xs:element ref="QtyPer" minOccurs="0"/>
					<xs:element ref="QtyPerUOM" minOccurs="0"/>
					<xs:element ref="UnitPrice" minOccurs="0"/>
					<xs:element ref="UnitPriceBasis" minOccurs="0"/>
					<xs:element ref="SerialLotNumber" minOccurs="0"/>
					<xs:element ref="SerialLotNumberInformation" minOccurs="0"/>
					<xs:element ref="SerialWarrantyDate" minOccurs="0"/>
					<xs:element ref="SerialLotEffectiveDate" minOccurs="0"/>
					<xs:element ref="LotExpirationDate" minOccurs="0"/>
					<xs:element ref="EventType" minOccurs="0"/>
					<xs:element ref="EventTypeInformation" minOccurs="0"/>
					<xs:element ref="TicketType" minOccurs="0"/>
					<xs:element ref="TicketTypeInformation" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- Summary elements -->
	<xs:complexType name="SummaryType">
		<xs:complexContent>
			<xs:extension base="sipRecordType">
				<xs:sequence>
					<xs:element ref="TotalOrders"/>
					<xs:element ref="TotalWeight" minOccurs="0"/>
					<xs:element ref="WeightUOM" minOccurs="0"/>
					<xs:element ref="TotalVolume" minOccurs="0"/>
					<xs:element ref="VolumeUOM" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
